<li class="<%=  self_or_other(message) %>">
  <div class="avatar">
    <img src="<%=message.user.avatar_url%>" width=50 height=50 />
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <% if message.attachment? && ['png', 'jpg', 'jpeg'].include?(message.attachment.url.split('.').last.downcase) %>
      <p><%= link_to image_tag(message.attachment_url, class: 'inner_image'), message.attachment_url, target: 'default' %></p>
    <% elsif message.attachment? %>
      <p><%= link_to message.attachment.file.original_filename, message.attachment_url, target: 'default' %></p>
    <% end %>
    <% if message.gif? %>
      <p><%= link_to image_tag(message.gif, class: 'inner_image'), message.gif, target: 'default' %></p>
    <% end %>
    <time datetime="<%= message.created_at_convert_timezone(current_user.timezone) %>" title="<%= message.created_at_convert_timezone(current_user.timezone).strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).username %> • <%= message.created_at_convert_timezone(current_user.timezone).strftime("%H:%M %p") %>
    </time>
  </div>
</li>
