<% if current_user && current_user.id != user.id %>
  <% if Relationship.where(followed_id: user.id, follower_id: current_user.id, status: 'pending').exists? %>
    <%= link_to "Cancel Request", reject_relationship_path(Relationship.where(followed_id: user.id, follower_id: current_user.id, status: 'pending').last), method: :put, class: "btn btn-danger", style: 'margin-left: 10px;' %>
  <% elsif !current_user.following?(user) %>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <%= hidden_field_tag :followed_id, user.id %>
      <%= f.submit "Follow",:class=>"btn btn-success btn-block"%>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
      <%= f.submit "Unfollow" ,:class=>"btn btn-danger btn-block" %>
    <% end %>
  <% end %>
<% end %>
