 <style type="text/css">

  .inputor:empty:before{content:"What's on your mind...";}

</style>
 <% if user_signed_in? %>
    <%= form_for(@newPost) do |f| %>
    <div class="panel">
        <div class="field"  style="margin-left: 10px;    margin-bottom: -36px;">
          <%= f.hidden_field :content, autofocus: true, class: "form-control" %>
          <div id="editable" class="inputor" contenteditable="true" autofocus="autofocus" data-text="What's on your mind...">  </div>
          <%=f.file_field :video%>
        </div>
        <div class="panel-footer" style="height: 49px;">
            <%= f.submit "Post", class: "btn-danger pull-right",:id=>"qwerty" %>
        </div>
      </div>
      <span id="update"></span>
    <% end %>
<% end %>
<script type="text/javascript">
  $(".inputor").html(" ");
  $(".inputor").html("");
</script>
<style type="text/css">

  .inputor:empty:before{content:"What's in your mind...";}

</style>
<script type="text/javascript">
   $(function(){
    $.fn.atwho.debug = true
    var emojis = [
      "smile", "iphone", "girl", "smiley", "heart", "kiss", "copyright", "coffee",
      "a", "ab", "airplane", "alien", "ambulance", "angel", "anger", "angry",
      "arrow_forward", "arrow_left", "arrow_lower_left", "arrow_lower_right",
      "arrow_right", "arrow_up", "arrow_upper_left", "arrow_upper_right",
      "art", "astonished", "atm", "b", "baby", "baby_chick", "baby_symbol",
      "balloon", "bamboo", "bank", "barber", "baseball", "basketball", "bath",
      "bear", "beer", "beers", "beginner", "bell", "bento", "bike", "bikini",
      "bird", "birthday", "black_square", "blue_car", "blue_heart", "blush",
      "boar", "boat", "bomb", "book", "boot", "bouquet", "bow", "bowtie",
      "boy", "bread", "briefcase", "broken_heart", "bug", "bulb",
      "person_with_blond_hair", "phone", "pig", "pill", "pisces", "plus1",
      "point_down", "point_left", "point_right", "point_up", "point_up_2",
      "police_car", "poop", "post_office", "postbox", "pray", "princess",
      "punch", "purple_heart", "question", "rabbit", "racehorse", "radio",
      "up", "us", "v", "vhs", "vibration_mode", "virgo", "vs", "walking",
      "warning", "watermelon", "wave", "wc", "wedding", "whale", "wheelchair",
      "white_square", "wind_chime", "wink", "wink2", "wolf", "woman",
      "womans_hat", "womens", "x", "yellow_heart", "zap", "zzz", "+1",
      "-1"
    ]
    var jeremy = decodeURI("J%C3%A9r%C3%A9my") // Jérémy
    var names = <%= raw User.all.pluck(:username)%>;

    var names = $.map(names,function(value,i) {
      return {'id':i,'name':value};
    });
    var emojis = $.map(emojis, function(value, i) {return {key: value, name:value}});

    var at_config = {
      at: "@",
      data: names,
      headerTpl: '<div class="atwho-header">Member List<small>↑&nbsp;↓&nbsp;</small></div>',
      insertTpl: '<a href="/user/${name}">@${name}</a>',
      displayTpl: "<li>${name}</li>",
      limit: 200
    }
    var emoji_config = {
      at: ":",
      data: emojis,
      displayTpl: "<li onclick>${name} <img src='https://assets-cdn.github.com/images/icons/emoji/${key}.png'  height='20' width='20' /></li>",
      insertTpl: ':${key}:',
      delay: 400,
    }
    
    // $inputor = $('#editable').atwho(at_config).atwho(emoji_config);
    // $inputor.caret('pos', 47);
    // $inputor.focus().atwho('run');

    emoji_config.insertTpl = "<img src='https://assets-cdn.github.com/images/icons/emoji/${name}.png'  height='20' width='20' />"
    $('#editable').atwho(at_config).atwho(emoji_config).trigger("keypress");

    $('#editable').trigger("keypress");
  });

$( "#editable" ).keypress(function() {
  $("#post_content").val($("#editable").html());
  $("#post_content").val($("#editable").html());
  console.log($("#editable").html());
});
$("#qwerty").click(function() {
  $("#post_content").val($("#editable").html());
});
$("#editable").bind('DOMNodeInserted DOMNodeRemoved', function() {
  $( "#editable" ).trigger("keypress");

});

</script>