
<div class="row">
  <div class="col-md-10 no-paddin-xs">
    <div class="profile-info col-md-6">
     <!-- update info -->
      <div class="widget post panel-shadow">
        <div class="widget-header">
          <h3 class="widget-caption">Edit info</h3>
        </div>
        <div class="widget-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="form-group row">
              <%= f.label :email, class: "col-md-3 control-label" %>
              <div class="col-md-8">
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :name, class: "col-md-3 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :dob, class: "col-md-3 control-label" %>
              <div class="col-md-8">
                <%= f.date_field :dob, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :gender, class: "col-md-3 control-label" %>
              <div class="col-md-8">
                <%= select_tag 'user[gender]', options_for_select(['Male', 'Female']), class: 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :timezone, class: "col-md-3 control-label" %>
              <div class="col-md-8">
                <%= select_tag 'user[timezone]', options_for_select(ActiveSupport::TimeZone.all.map(&:name), selected: resource.timezone), class: 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :bio, class: "col-md-3 control-label" %>
              <div class="col-md-8">
                <%= f.text_area :bio, autofocus: "off", class: "form-control", placeholder: "Tell people about you. Add your personal hashtags here." %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :tagline, class: "col-md-3 control-label" %>
              <div class="col-md-8">
                <%= f.text_area :tagline, autofocus: "off", class: "form-control", placeholder: "Put your signature line and hashtags here." %>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 control-label"> Profile Picture </label>
              <div class="col-md-8">
                <%= f.file_field :avatar, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 control-label"> Cover Picture </label>
              <div class="col-md-8">
                <%= f.file_field :cover, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 control-label"> Direct Message From Anyone </label>
              <div class="col-md-8">
                <%= f.check_box :direct_message %>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 control-label"> Private </label>
              <div class="col-md-8">
                <%= f.check_box :private %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-8">
                <%= f.submit "Update", class: "btn btn-danger"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      </div>
      <div class="profile-info col-md-6">
      <div class="widget post panel-shadow">
        <div class="widget-header">
          <h3 class="widget-caption">Change password</h3>
        </div>
        <div class="widget-body">
          <%= form_for(resource, as: resource_name, url: change_password_users_path, html: { method: :put }) do |f| %>
            <div class="form-group row">
              <%= f.label :password, class: "col-md-4 control-label" %>
              <div class="col-md-7">
                <%= f.password_field :password, autofocus: "off", class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :password_confirmation, class: "col-md-4 control-label" %>
              <div class="col-md-7">
                <%= f.password_field :password_confirmation, autofocus: "off", class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :current_password, class: "col-md-4 control-label" %>
              <div class="col-md-7">
                <%= f.password_field :current_password, autofocus: "off", class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-8">
                <%= f.submit "Change Password", class: "btn btn-danger"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <small><%= link_to "Delete your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></small>      
    </div>
  </div>
</div>
