<div class="comment" id="commentid<%=comment.id%>">
  <div class="col-md-1">
    <a class="pull-left" href="#">
      <%= image_tag(comment.user.avatar_url, class: 'avatar img-circle') %>
    </a>
  </div>
  <div class="comment-body col-md-11">
    <div class="comment-heading">
      <h4 class="comment-user-name">
        <% if current_user && current_user.blocked_user_ids.include?(comment.user_id) %>
          <a href="/user/<%= comment.user.username %>"><%= comment.user.username %></a>
        <% else %>
          <a href="javascript:void(0)"><%= comment.user.username %></a>
        <% end %>
      </h4>
      <h5 class="time"><%= comment.created_at_convert_timezone(current_user.try(:timezone)).to_formatted_s(:short) %></h5>
      <span class="pull-right" id="comment_manage_button_id<%=comment.id%>">
        <% if can?(:destroy, comment) %>
          <a class="delete_comments" data-post="<%= post.id %>" data-comment="<%=comment.id%>" onClick='deleteComment(<%= comment.id %>, <%= post.id %>)'>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        <% end %>

        <% if can?(:update, comment) %>
          <a class="update_comments" data-post="<%= post.id %>" data-comment="<%=comment.id%>" onclick="comment_edit_mode(<%=comment.id%>)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        <% end %>
      </span>
    </div>
    <p id="view_comment_id<%=comment.id%>"><%= comment.content.html_safe %></p>
    <div id="edit_comment_id<%=comment.id%>" style="display: none">
      <textarea id="edit_comment_body_id<%=comment.id%>"></textarea>
      <button class="btn btn-primary" onclick="update_comment(<%= post.id %>,<%=comment.id%>)">save</button>
      <button onclick="comment_view_mode(<%=comment.id%>)" class="btn btn-danger">cancel</button>
    </div>
  </div>
</div>