<!-- <div class="comment-form col-sm-10 col-sm-offset-1">
   <div id="editable<%=@p.id%>" data-post="<%=@p.id%>" class="test_comments" contenteditable="true">  </div>
 
</div> -->

<div id="editable<%=@p.id%>" data-post="<%=@p.id%>" class="test_comments" contenteditable="true" data-text="Write a comment">  </div>
<style type="text/css">

  .test_comments:empty:before{content:"Write a comment";}

</style>
<script type="text/javascript">
  $(".test_comments").html(" ");
$(".test_comments").html("");
</script>