$("#myModal #comment_list<%= @post.id %>").prepend('<%= j (render 'comments/comment', comment: @comment, post: @post) %>')
$(".container #comment_count<%= @post.id %>").html("<%= @post.comments.count%>");
$("#myModal #comment_count<%= @post.id %>").html("<%= @post.comments.count%>");
$("#myModal #editable<%= @post.id %>").data("modalstatus","false");
$("#myModal #like<%= @post.id %>").data("modalstatus","false");
$("#myModal #editable<%= @post.id %>").html("");
$("#myModal #editable<%= @post.id %>").notify("Comment is created successfully.", "success");
