<div class="panel panel-white post panel-shadow" id="post_id_<%= post.id %>">
  <div class="post-heading">
    <div class="pull-left image">
      <img src="<%=post.user.avatar %>" class="avatar img-circle">
    </div>
    <div class="pull-left meta">
      <div class="title h5">
        <a href="/user/<%= post.user.username %>" class="post-user-name"><%= post.user.username %></a>
          update a status.
      </div>
      <h6 class="text-muted time"><%= post.created_at_convert_timezone(current_user.timezone).to_formatted_s(:short) %></h6>
    </div>
    <%= render partial: '/shared/edit_delete_buttons', locals: { post: post } %>
  </div>
  <%= render partial: "/pages/post", locals: { post: post } %>
  <div class="post-description">
    <%= render partial: "/shared/post_edit_mode", locals: { post: post } %>
    <div class="stats">
      <%if current_user.present?%>
        <%if current_user.voted_for? post %>
          <a class="like stat-item openmode" id="like<%=post.id%>" data-post="<%= post.id%>" data-status="dislike"><span style="color:red;" class="fa fa-thumbs-up icon" aria-hidden="true"><%= post.votes_for.size%></span></a>
        <%else%>
          <a class="like stat-item openmode" id="like<%=post.id%>" data-post="<%= post.id%>" data-status="like"><span class="fa fa-thumbs-up icon" aria-hidden="true"><%= post.votes_for.size%></span></a>
        <% end %>
      <% end %>
      <a  class="stat-item openmode" data-post="<%= post.id%>" >
        <i class="fa fa-comments-o icon"></i><span id="comment_count<%=post.id%>"><%=post.comments.count%></span>
      </a>
    </div>
  </div>
</div>