<li class="conversation-li bounceInDown active" data-cid="<%= conversation.id %>">
  <%= link_to messages_user_path(current_user.id,{:conversation_id=>conversation.id}),:remote=>true do%>
    <img src="<%= conversation.sender_id == current_user.id ? conversation.recipient.avatar.url : conversation.sender.avatar.url%>" alt="" class="img-circle">
    <div class="friend-name">
      <strong><%= conversation.sender_id == current_user.id ? conversation.recipient.username : conversation.sender.username%></strong>
    </div>
    <% if conversation.messages.last %>
      <div class="last-message text-muted"><%= conversation.messages.last.body%></div>
      <small class="time text-muted"><%= conversation.messages.last.created_at_convert_timezone(current_user.timezone).to_formatted_s(:short) %></small>
    <% end %>
  <%end%>
</li>
