if ("<%= @conversation_exist %>" == "false") {
  $(".friend-list li:first").after('<%= j (render 'conversations/conversation', conversation: @conversation) %>')
  $('.conversation-message-block').html('<%= j (render 'users/conversation', conversation: @conversation) %>')
}