<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <h1><%= @reciever.username %> </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
  </div>
  <br clear="all"/>
</div>
<div class="chatboxcontent">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>
<div class="chatboxinput">
  <%= form_for([@conversation, @message], remote: true, :html => {id: "conversation_form_#{@conversation.id}", multipart: true}) do |f| %>
    <div class='form-group'>
      <div class='inline-block'>
        <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
      </div>
      <div class='pull-right inline-block'>
        <%= f.submit 'Send', class: 'btn btn-primary send-button' %>
      </div>
    </div>
    <%= f.file_field :attachment, id: "attachment_#{@conversation.id}" %>
  <% end %>
</div>

<%= subscribe_to conversation_path(@conversation) %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#attachment_<%= @conversation.id %>').bind('change', function() {
      var FileSize = this.files[0].size / 1024 / 1024; // in MB
      if (FileSize > 1) {
        alert('File size exceeds 1 MB');
        $(this).val('');
      }
    });
  });
</script>