<ul class="friend-list">
  <li class="user_self">
    <span class="pull-left"><img src="/assets/default-avatar.png" alt="" ></span>
    <span class="pull-right">
      <a href="javascript:void(0)" onclick='newChat()'>
        <i class="fa fa-comments"></i>
      </a>
    </span>
  </li>
  <li class="user_search">
    <div class="input-group">
    <input type="text" class="form-control"/>
    <span class="input-group-addon">
        <i class="fa fa-search"></i>
    </span>
</div>
    <!--<input type="text" class="form-control ui-autocomplete-input" placeholder="Search" autocomplete="off">-->
  </li>
  <!--<li><a href="javascript:void(0)" onclick='newChat()'>New Chat</a></li>-->
  <% @conversations.each do |conversation|%>
    <li class="conversation-li bounceInDown <%= conversation.id == @conversation.id ? 'active' : ''%>" data-cid="<%= conversation.id %>">
      <%= link_to messages_user_path(current_user.id,{:conversation_id=>conversation.id}),:remote=>true do%>
        <img src="<%= conversation.sender_id == current_user.id ? conversation.recipient.avatar.url : conversation.sender.avatar.url%>" alt="" class="img-circle">
        <div class="friend-name">
          <strong><%= conversation.sender_id == current_user.id ? conversation.recipient.username : conversation.sender.username%></strong>
        </div>
        <% if conversation.messages.last %>
          <div class="last-message text-muted"><%= conversation.messages.last.body%></div>
          <small class="time text-muted"><%= conversation.messages.last.created_at_convert_timezone(current_user.timezone).to_formatted_s(:short) %></small>
        <% end %>
      <%end%>
    </li>
  <%end%>
</ul>