<ul class="user_self">
  <li>
    <span class="pull-left"><img src="/assets/default-avatar.png" alt="" ></span>
    <span class="pull-left user_self_name">Self Name</span>
<%if @conversation.present?%>
  <% if @conversation.messages.count > 0 %>
    <span class="pull-right">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!--<span class="caret"></span>-->
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <%= link_to 'Delete All', conversation_message_path(@conversation, 'all'), method: :delete, remote: true %>
          </li>
        </ul>
      </div>
    </span>
  <% end %>
<% end %>
  </li>
</ul>
<%if @conversation.present?%>
  <div class="chat-message">
    <ul class="chat">
      <%@conversation.messages.each do |message|%>
        <li class="<%= message.user_id == current_user.id ? 'right' : 'left'%> clearfix message-chat-li" onmouseover="showDeleteOnHover(this)" onmouseleave="hideDeleteOnHover(this)">
          <div class='delete-message'>
            <%= link_to conversation_message_path(@conversation, message), method: :delete, remote: true do %>
              <span><i class="fa fa-trash"></i></span>
            <% end %>
          </div>
          <!-- Hidden image in messaging -->
          <!--<span class="chat-img pull-<%= message.user_id == current_user.id ? 'right' : 'left'%>">-->
          <!--  <img src="<%= message.user_id == current_user.id ? current_user.avatar.url : message.user.avatar.url%>" alt="User Avatar">-->
          <!--</span>-->
          <div class="chat-body clearfix">
            <div class="header">
              <%= message.body %>
              <!--<strong class="primary-font"><%= message.user_id == current_user.id ? current_user.username : message.user.username%></strong>-->
              <!--<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= message.created_at_convert_timezone(current_user.timezone).to_formatted_s(:short) %></small>-->
            </div>
            <p>
              <!--<%= message.body %>-->
              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= message.created_at_convert_timezone(current_user.timezone).to_formatted_s(:short) %></small>
            </p>
            <% if message.attachment? && ['png', 'jpg', 'jpeg'].include?(message.attachment.url.split('.').last.downcase) %>
              <p><%= link_to image_tag(message.attachment_url, class: 'inner_image'), message.attachment_url, target: 'default' %></p>
            <% elsif message.attachment? %>
              <p><%= link_to message.attachment.file.original_filename, message.attachment_url, target: 'default' %></p>
            <% end %>
            <% if message.gif? %>
              <p><%= link_to image_tag(message.gif, class: 'inner_image'), message.gif, target: 'default' %></p>
            <% end %>
          </div>
          <span>
            <i class="far fa-trash-alt"></i>
          </span>
        </li>
      <%end%>
    </ul>
  </div>
  <% if (current_user.find_show_message_box?(@conversation)) %>
    <div class="panel profile-info panel-danger">
      <%= render partial: "users/message_box"%>
    </div>
  <% end %>
<%end%>