<%= form_for([@conversation, @message], remote: true, url: "/users/create_message?conversation_id=#{@conversation.id}",:html => {id: "conversation_form_#{@conversation.id}",  multipart: true}) do |f| %>
  <div class='form-group'>
    <div class='message-text'>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id ,:style=>"width: 100%;"%>
    </div>
    <div class='pull-right send-button-div'>
      <!-- <input type="submit" class="btn-primary" name="commit" value="GIF" style="border: 0;margin: 2px;" onclick=""> -->
      <!-- <i class="fa fa-paperclip" aria-hidden="true"></i> -->
      <%= button_tag(type: 'submit', class: "but_plain") do %>
       <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <% end %>

    </div>
  </div>
  <div class="form-group" style='display: inline-flex;'>
    <%= f.file_field :attachment, id: "attachment_#{@conversation.id}", class: "chatboxtextarea" %>
    <input id="message_search_giphy" class="ui-autocomplete-input chatboxtextarea" autocomplete="off" placeholder='Search gif'>
    <%= f.text_field :gif, id: "gif_#{@conversation.id}", readonly: true, placeholder: 'No Gif', class: "chatboxtextarea" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $( "#message_search_giphy" ).autocomplete({
      minLength: 3,
      source: function( request, response ) {
        $.ajax({
          url: "/giphy",
          dataType: "json",
          data: {
            term: $("#message_search_giphy").val()
          },
          success: function( data ) {
            response( $.map( data, function( result ) {
              return {
                value: result,
                url: result
              }
            }));
          }
        });
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li onclick='addGiphyToMessage(\""+item.url+"\", \"<%= @conversation.id %>\")'></li>" )
        .data( "autocomplete", item )
        .append( "<a>" + "<img style='width:100%;height:100px' src='" + item.url + "' /></a>" )
        .appendTo( ul );
    };

    $('#attachment_<%= @conversation.id %>').bind('change', function() {
      var FileSize = this.files[0].size / 1024 / 1024; // in MB
      if (FileSize > 1) {
        alert('File size exceeds 1 MB');
        $(this).val('');
      }
    });

    $('#message_body, .conversation-li').bind('click', function(){
      var conversation_id = $(this).attr('data-cid');
      markAllMessageRead(conversation_id);
    })
  })
</script>