<div class="col-sm-4">
  <div class="panel user-panel">
    <div class="thumbnail">
      <%= link_to(image_tag(user.avatar_url, class: "thumb-lg"), "/user/#{user.username}", class: "") %>
    </div>
    <div class="info text-center">
      <h4><%= user.username %></h4>
      <p class="text-muted"><%= user.email %></p>
    </div>
    <div class="user-buttons">
      <% if current_user.present? %>
        <% if current_user.id != user.id %>
          <% if user.blocked_user_ids.include?(current_user.id) %>
            <%= link_to "", unblock_user_path(user), method: :put, class: "fa fa-unlock" %>
          <% else %>
            <%= link_to "", block_user_path(user), method: :put, class: "fa fa-ban" %>
          <% end %>
          <% if Relationship.where(followed_id: user.id, follower_id: current_user.id, status: 'pending').exists? %>
            <%= link_to "Cancel Request", reject_relationship_path(Relationship.where(followed_id: user.id, follower_id: current_user.id, status: 'pending').last), method: :put, class: "btn btn-danger", style: 'margin-left: 10px;' %>
          <% elsif current_user.following.include?(user) %>
            <% relationship = current_user.active_relationships.find_by(followed_id: user.id) %>
            <%= link_to "", "/relationships/#{relationship.id}", method: :delete, class: "fa fa-minus-circle" %>
          <% else %>
            <%= link_to "", relationships_path(followed_id: user.id), method: :post, class: "fa fa-plus-circle" %>
          <% end %>
        <% end %>
      <%end%>
      <% if current_user.show_message_box?(user) %>
        <a href="javascript:void(0)" class="fa fa-envelope start-conversation" aria-hidden="true" data-toggle="tooltip" data-placement="left" data-sid="<%= current_user.id %>" data-rip="<%=user.id%>"></a>
      <% end %>
      <% if type == 'following' %>
        <a href="javascript:void(0)" data-toggle="modal" data-target="#add_to_circle" class="fa fa-circle"></a>
      <% end %>
    </div>
  </div>
</div>

<% if type == 'following' %>
  <div id="add_to_circle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
          <h4 class="modal-title" id="myModalLabel">Add To Circle</h4>
        </div>
        <div class="modal-body">
          <% passive_relationship = current_user.active_relationships.where(followed_id: user.id).last %>
          <%= form_tag(add_to_circle_relationships_path, class: 'form-horizontal') do %>
            <%= hidden_field_tag(:user_id, user.id) %>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Circle:</label>
              <div class="col-sm-10">
                <%= select_tag "circle", options_for_select(CIRCLES, passive_relationship.try(:circle)), class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= submit_tag "Add Circle", class: "btn btn-danger" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
<% end %>