<div class="col-md-10 no-paddin-xs">
  <div class="row panel_messaging" id="message-content">
    <%= render "messages"%>
  </div>
</div>
<%= subscribe_to "/messages/#{current_user.id}" %>

<script type="text/javascript">
  PrivatePub.subscribe("/messages/<%= current_user.id%>", function() {
    $.getScript("/users/<%= current_user.id%>/messages.js?conversation=<%= @conversation.present? ? @conversation.id : '' %>");
  });
</script>