<div class="row">
  <div class="col-md-10">
    <div class="container friends-container">
      <div class="row">
      <div class="col-md-11" style="max-width:1064px;">
      <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
        <li class="active"><a href="#result_users" data-toggle="tab">Users</a></li>
        <li><a href="#result_hashtags" data-toggle="tab">Posts</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="result_users">
          <% @results["users"].each do |object| %>
            <%= render partial: 'users/user', locals: { user: object, type: 'search' } %>
          <% end if @results["users"] %>
        </div>
        <div class="tab-pane fade in" id="result_hashtags">
          <% @results["posts"].each do |object| %>
            <div class="col-sm-6">
              <div class="post-new col-md-12"  id="post_id_<%= object.id %>">
                <%= render partial: "/pages/post", locals: { post: object } %>
              </div>
            </div>
          <% end if @results["posts"] %>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog"></div>

<script type="text/javascript">
  $(".openmode").click(function(){
    var post_id = $(this).data("post");
    modalContent(post_id);
    $('#myModal').modal('show');
  });
</script>