<div class="col-md-10" style="margin-top:70px;">
  <div class="wrapper-page bootstrap snippets">
      <div class="text-center">
          <a href="/explore" class="logo logo-lg">
              <i class="fa fa-th"></i> 
              <span>Flutter
</span> 
          </a>
      </div>
      <form method="post" action="#" role="form" class="text-center m-t-20">
          <div class="user-thumb">
              <img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive img-circle img-thumbnail" alt="thumbnail">
          </div>
          <div class="form-group">
              <h3>John Deo</h3>
              <p class="text-muted">Enter your email address.</p>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

              <div class="input-group m-t-30 text-center" style="width:70%;    margin-left: 20%;">
                  <%= f.email_field :email, autofocus: true ,:class=>"form-control"%>
                  <span class="input-group-btn"> 
                    <%= f.submit "Continue" ,:class=>"btn btn-email btn-danger waves-effect waves-light"%>
                    
                    Continue
                  </button> </span>
              </div>
              <% end %>

          </div>
      </form>
  </div>
</div>