<% if current_user %>
  <div id="manage_button_id_<%= post.id %>">
    <div class="top_icons">
      <% if can? :update, post %>
        <a href="javascript:void(0)" onclick="post_edit_mode(<%= post.id %>)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      <% end  %>
      <% if can? :destroy, post %>
        <a href="javascript:void(0)" onclick="deletePost(<%= post.id %>)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      <% end  %>
      <% if current_user.id != post.user_id && !post.reports.map(&:user_id).include?(current_user.id) %>
        <a href="javascript:void(0)" onclick="reportPostDialog(<%= post.id %>)">
          <i class="fa fa-flag" aria-hidden="true"></i>  
        </a>
      <% end %>
    </div>
  </div>
<% end %>
