<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <% if message.is_a? Array %>
      <%= message.join('\n') %>
    <% else %>
      <%= message %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    setTimeout(function() {
      $(".alert").alert('close');
    }, 5000);
  })
</script>