<p id="post_view_id_<%= post.id %>" title="<%= raw post.content.gsub(/#([A-z]\w+)/, "<a href='/tags/\\1'>#\\1</a>") %>"><%= raw post.content.gsub(/#([A-z]\w+)/, "<a href='/tags/\\1'>#\\1</a>") %></p>
<div class="post_desc_edit" id="post_edit_id_<%= post.id %>" style="display: none;">
  <textarea id="post_content_edit_id_<%= post.id %>"><%= post.content %></textarea>
  <i class="fa fa-floppy-o" aria-hidden="true" onclick="update_post(<%= post.id %>)"></i>
  <i class="fa fa-ban" aria-hidden="true" onclick="post_view_mode(<%= post.id %>)"></i>
  <!--<button class='btn btn-primary' onclick="update_post(<%= post.id %>)">Save</button>-->
  <!--<button class='btn btn-danger' onclick="post_view_mode(<%= post.id %>)">Cancel</button>-->
</div>