<% if users.present? %>
  <div class="widget">
    <div class="widget-header">
      <h3 class="widget-caption">People You May Know</h3>
    </div>
    <div class="widget-body bordered-top bordered-red">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <% users.each do |user| %>
              <div class="col-sm-12">
                <div class="panel">
                  <div class="panel-body p-t-10">
                    <div class="media-main">
                      <%= link_to(image_tag(user.avatar_url, class: "thumb-lg img-circle bx-s"), "/user/#{user.username}", class: "pull-left") %>
                      <div class="pull-right btn-group-sm">
                        <%= link_to relationships_path(followed_id: user.id), method: :post do %>
                          <i class="fa fa-user"></i>
                        <% end %>
                      </div>
                      <div class="info">
                        <h4><%= user.username %></h4>
                        <p class="text-muted"><%= user.email %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>