<div class="panel">
  <div class="user-heading panel">
    <h1>Top Posts</h1>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <% @top_posts.each do |post| %>
      <li>
        <a class="openmode" id="like<%=post.id%>" data-post="<%= post.id%>" data-status="like"><span aria-hidden="true"><%= raw post.content %></span></a>
      </li>
    <% end %>
  </ul>
</div>