<% if hashtags.present? %>
   <div class="widget">
    <div class="widget-header">
      <h3 class="widget-caption">What's Trending</h3>
    </div>
    <div class="widget-body bordered-top bordered-red">
      <div class="card">
        <div class="content">
          <ul class="list-unstyled team-members">
            <% hashtags.each do |hashtag| %>
              <li>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <%= link_to hashtag.name, "/tags/#{hashtag.name}" %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>