
body {
    background-repeat: repeat;
    min-height: 1585px;
}
/*------------------------------------------------*/
/*    Profile Page
/*------------------------------------------------*/
.user-profile {
  padding-bottom: 30px;
}

.profile-header-background {
  /*margin: -30px -30px 0 -30px;*/
}
.profile-header-background img {
  width: 100%;
  height: 310px;
}

.profile-info-left {
  position: relative;
  /*top: -92px;*/
}
.profile-info-left .profile-info {
  position: relative;
  top: -80px;
  left: 20px;
  float: left;
  margin: 0 0 -50px 0;
  width: 100%;
}
.profile-info-left img.avatar {
  border: 2px solid #fff;
  display: inline-block;
  float: left;
  max-height: 75px;
  width: auto;
  max-width: 75px;
}
.profile-info-left h2 {
  font-family: "josefinslab-semibold";
  padding-top: 35px;
  float: left;
  display: inline-block;
  /*line-height: 60px;*/
  margin: 0;
  margin-left: 20px;
}
.profile-info-left .but_container {
  position: absolute;
  top: -30px;
  right: 50px;
  width: 70px;
  height: 70px;
}
.profile-info-left .but_container:hover {
  width:150px;
  height: 150px;
  padding: 30px;
}
.profile-info-left .but_container .multi_button {
  position: absolute;
  right: 5px;
  top: 35px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
.profile-info-left .but_container .multi_button .fa-user {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 30px;
}
.profile-info-left .but_container .but_all {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}
.profile-info-left .but_container .but_all i {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 20px;
}
.profile-info-left .but_container .but_follow {
  background: #A63226;
  box-shadow: 0px 2px 5px #666;
  right: 60px;
  top: -10px;
  animation-delay: 0.2s;
  animation: bounce-out-but 0.3s linear;
  animation-fill-mode:  forwards;
}
.profile-info-left .but_container .but_msg {
  background: #A63226;
  box-shadow: 0px 2px 5px #666;
  right: 90px;
  top: 40px;
  animation-delay: 0.15s;
    animation: bounce-out-but 0.15s linear;
  animation-fill-mode:  forwards;
}

.profile-info-left .but_container .but_block {
  background: #A63226;
  box-shadow: 0px 2px 5px #666;
  right: 60px;
  top: 90px;
  animation-delay: 0.1s;
    animation: bounce-out-but 0.1s linear;
  animation-fill-mode:  forwards;
}
@keyframes bounce-but{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-but{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}
.but_container:hover .but_all {
  animation: bounce-but 0.1s linear;
  animation-fill-mode:  forwards;
}
.but_container:hover .but_msg{
  animation-delay: 0.08s;
}
.but_container:hover .but_block{
  animation-delay: 0.15s;
}
.profile-info-left .section {
  margin-top: 50px;
}
.profile-info-left .section h3 {
  font-size: 1.1em;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.profile-info-left .section.user_stats .stat_section {
  /*padding: 10px 0;*/
  color: #FFF;
  margin: 5px 0;
}
.profile-info-left .section.user_stats .stat_section > div {
  display: inline-block;
  line-height: 1;
  font-size: 12px;
}
.profile-info-left .section.user_stats .stat_section i {
  color: #FFF;
  font-size: 20px;
  padding: 15px 20px;
  margin-right: 10px;
  width: 55px;
}
.profile-info-left .section.user_stats .stat_section .badge {
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  padding: 0;
}
.profile-info-left .section.user_stats .stat_section.follower {
  background-color: #EA9215;
}
.profile-info-left .section.user_stats .follower i {
  background-color: #BB7511;
}
.profile-info-left .section.user_stats .stat_section.mentions {
  background-color: #CF3F30;
}
.profile-info-left .section.user_stats .mentions i {
  background-color: #A63226;
}
.profile-info-left .section.user_stats .stat_section.posts {
  background-color: #3CBAED;
}
.profile-info-left .section.user_stats .posts i {
  background-color: #3095BE;
}
.profile-info-left .section.user_stats .stat_section.points {
  background-color: #2C9F55;
}
.profile-info-left .section.user_stats .points i {
  background-color: #237F44;
}
.profile-info-left ul.list-social > li {
  line-height: 2.3;
}
.profile-info-left ul.list-social > li i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  top: 1px;
  font-size: 16px;
  min-width: 16px;
  line-height: 1;
}
.profile-info-left ul.list-social > li a {
  color: #696565;
}

.profile-info-right .tab-content {
  padding: 30px 0;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .profile-info-right {
    position: relative;
    top: -70px;
  }
}

.user-follower,
.user-following {
  position: relative;
  margin-bottom: 40px;
}
.user-follower img,
.user-following img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 40px;
}
.user-follower a,
.user-following a {
  font-size: 1.1em;
  line-height: 1;
}
.user-follower .username,
.user-following .username {
  font-size: 0.9em;
  line-height: 1.5;
}
.user-follower .btn,
.user-following .btn {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 92px;
}

.btn-toggle-following {
  background-color: #7bae16;
  color: #fff;
}
.btn-toggle-following:hover {
  background-color: #ef2020;
  color: #fff;
}
.btn-toggle-following:hover span {
  display: none;
}
.btn-toggle-following:hover:after {
  content: 'Unfollow';
  display: inline;
}
.btn-toggle-following:hover i:before {
  content: '\f129';
}


/* list icons */
.list-icons-demo li {
  margin-bottom: 20px;
  text-align: center;
}
.list-icons-demo li i {
  font-size: 24px;
}

.list-icons-demo2 li {
  margin-bottom: 10px;
}

.activity-item {
  overflow: visible;
  position: relative;
  margin: 15px 0;
  border-top: 1px dashed #ccc;
  padding-top: 15px;
}
.activity-item:first-child {
  border-top: none;
}
.activity-item .avatar {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 32px;
}
.activity-item > i {
  font-size: 18px;
  line-height: 1;
}
.activity-item .media-body {
  position: relative;
}
.activity-item .activity-title {
  margin-bottom: 0;
  line-height: 1.3;
}
.activity-item .activity-attachment {
  padding-top: 20px;
}
.activity-item .well {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-left: 2px solid #cfcfcf;
  background: #fff;
  margin-left: 20px;
  font-size: 0.85em;
}
.activity-item .thumbnail {
  display: inline;
  border: none;
  padding: 0;
}
.activity-item .thumbnail img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: auto;
  margin: 0;
}
.activity-item .activity-actions {
  position: absolute;
  top: 15px;
  right: 0;
}
.activity-item .activity-actions .btn i {
  margin: 0;
}
.activity-item .activity-actions .dropdown-menu > li > a {
  font-size: 0.9em;
  padding: 3px 10px;
}
.activity-item + .btn {
  margin-bottom: 15px;
}

.comment .comment-body {
  padding-left: 10px !important;
}
.comment .comment-body h4, .comment .comment-body h5 {
  margin: 0 !important;
}
.comment .comment-body h4.comment-user-name {
  font-size: 1.2em !important;
}
.comment .comment-body h5.time {
  font-size: 0.8em !important;
}


.nav-tabs > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: pointer;
}

.nav-pills > li > a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #1688ae;
}

.nav-tabs.tabs-iconized > li a,
.nav-pills.tabs-iconized > li a {
  padding-top: 0;
  padding-bottom: 5px;
}
.nav-tabs.tabs-iconized > li i,
.nav-pills.tabs-iconized > li i {
  position: relative;
  margin-right: 3px;
  top: 4px;
  font-size: 24px;
}

.tab-content {
  padding: 30px 15px 15px 15px;
  background-color: #fff;
}

.nav.nav-tabs-custom-colored > li > a {
  border-color: #ccc;
  border-bottom: transparent;
}
.nav.nav-tabs-custom-colored > li > a:hover, .nav.nav-tabs-custom-colored > li > a:focus {
  background-color: #1688ae;
}

.nav-tabs.nav-tabs-custom-colored {
  border-bottom-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li {
  z-index: 0;
  margin-bottom: 0;
  background-color: #fff;
}
.nav-tabs.nav-tabs-custom-colored > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #696565;
  margin-right: 0;
}
.nav-tabs.nav-tabs-custom-colored > li > a:hover, .nav-tabs.nav-tabs-custom-colored > li > a:focus {
  color: #fff;
  border-color: #1688ae;
}
.nav-tabs.nav-tabs-custom-colored > li.active > a, .nav-tabs.nav-tabs-custom-colored > li.active > a:hover, .nav-tabs.nav-tabs-custom-colored > li.active > a:focus {
  color: #fff;
  background-color: #1688ae;
  border-color: #1688ae;
  border-bottom: transparent;
}
.nav-tabs > li.active {
  z-index: 1;
}

.nav-pills-custom-minimal.fixed-tab {
  position: fixed;
  z-index: 10;
  background: #fff;
  width: 100%;
}
.tab-content.fixed-tab-content {
  padding-top: 60px;
}

.nav-pills-custom-minimal {
  border-bottom: 1px solid #ccc;
}
.nav-pills-custom-minimal > li > a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px;
  border-top: 4px solid transparent;
  color: #696565;
}
.nav-pills-custom-minimal > li > a:hover, .nav-pills-custom-minimal > li > a:focus {
  background-color: transparent;
  color: #4f4c4c;
}
.nav-pills-custom-minimal > li.active > a, .nav-pills-custom-minimal > li.active > a:hover, .nav-pills-custom-minimal > li.active > a:focus {
  background-color: transparent;
  border-top-color: #ff766c;
  color: #696565;
}
.nav-pills-custom-minimal > li + li {
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .nav-pills-custom-minimal > li + li {
    margin-left: 0;
  }
}
.nav-pills-custom-minimal.custom-minimal-bottom > li a {
  border-top: none;
  border-bottom: 4px solid transparent;
}
.nav-pills-custom-minimal.custom-minimal-bottom > li.active > a, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:hover, .nav-pills-custom-minimal.custom-minimal-bottom > li.active > a:focus {
  border-bottom-color: #ff766c;
}