 <ul class="comments-list" id="comment_list<%=@post.id%>">
<%@post.comments.order("id DESC").each do |comment|%>
  <li class="comment">
      <a class="pull-left" href="#">
          <img class="avatar" src="<%=comment.user.avatar_url%>" alt="avatar">
      </a>
      <div class="comment-body">
          <div class="comment-heading">
              <h4 class="comment-user-name"><a href="/user/<%=comment.user.username%>"><%=comment.user.username%></a></h4>
              <h5 class="time"><%= comment.created_at_convert_timezone(current_user.timezone).to_formatted_s(:short) %></h5>
               <%if current_user.present?%>
              <%if current_user.id == @post.user_id%>
              <span class="pull-right"><a class="delete_comments" data-post="<%= comment.post_id%>" data-comment=<%=comment.id%>>delete</a></span>
              <%else%>
              <%if comment.user_id == current_user.id%>
              <span class="pull-right"><a class="delete_comments" data-post="<%= comment.post_id%>" data-comment=<%=comment.id%>>delete</a></span>
               <%end%>
              <%end%>
              <%end%>
          </div>
          <p><%= raw comment.content%></p>
      </div>
  </li>
<%end%>

</ul>

<script type="text/javascript">
$( ".delete_comments" ).click(function() {
      var id = $(this).data("comment");
      $.ajax({
        type: 'GET',
        url: '/delete_comment' ,
        dataType: "script",
        data: {
        id: id
        },
        success: function(data) {

        },
        error: function(e) {

        }
      });
    });
</script>