<% total_uploads = post.post_uploads.count %>
<div class="post-image" data-post="<%=post.id%>">
  <div class='row post-section'>
    <% if post.post_uploads.first.image? %>
      <div class="<%= (total_uploads > 1) ? 'col-md-6' : '' %>">
        <!--<%= image_tag(post.post_uploads.first.video_url, width: "500", height: "300") %>-->
        <%= image_tag(post.post_uploads.first.video_url, width: "550", height: "300") %>
      </div>
      <%= render partial: '/shared/edit_delete_buttons', locals: { post: post } %>
      <div class="right_bar">
        <% if (current_user && (current_user.id != post.user_id) && current_user.show_message_box?(post.user)) %>
          <div class="right_bar_icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p><%= link_to "Message", "javascript:void(0)", class: "start-conversation", "data-sid" => current_user.id, "data-rip" => post.user_id %></p>
          </div>
        <% end  %>
        <div class="right_bar_icon openmode" data-post="<%= post.id%>">
          <i class="fa fa-comments" aria-hidden="true"></i>
          <p><%=post.comments.count%></p>
        </div>
        <div class="right_bar_icon openmode" data-post="<%= post.id%>">
          <i class="fa fa-smile-o" aria-hidden="true"></i>
          <p><%=post.comment_giphies.count%></p>
        </div>
        <div class="right_bar_icon openmode" data-post="<%= post.id%>">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <p><%= post.votes_for.size%></p>
        </div>
      </div>
      <div class="bottom_bar">
          <div class="pull-left image">
            <a href="/user/<%= User.find(post.user_id).username %>">
              <img src="<%= params[:id].present? ? User.find_by_username(params[:id]).avatar : post.user.avatar %>" class="avatar img-circle" alt="user profile image">
            </a>
          </div>
          <div class="pull-left post_desc meta ">
             <%= render partial: "/shared/post_edit_mode", locals: { post: post } %>
        </div>
      </div>
    <% else %>
      <div class="<%= (total_uploads > 1) ? 'col-md-6' : '' %>">
        <video width="500" height="300" controls class="image show-in-modal">
          <source src="<%= post_upload.video_url %>">
        </video>
      </div>
    <% end %>
    <div class="<%= (total_uploads > 1) ? 'col-md-6' : '' %>">
      <% post.post_uploads[1..2].each_with_index do |post_upload, index| %>
        <% if post_upload.image? %>
          <%= image_tag(post_upload.video_url, width: "500", height: "300", style: "#{total_uploads >= 3 ? 'height: 50%' : ''}") %>
        <% else %>
          <video width="550" height="300" controls class="image show-in-modal" style="<%= total_uploads >= 3 ? 'height: 50%' : '' %>">
            <source src="<%= post_upload.video_url %>">
          </video>
        <% end %>
      <% end %>
    </div>
    <p class='post_img_count pull-right'><strong> <%= " + #{total_uploads - 3} More" if total_uploads > 3 %></strong></p>
  </div>
</div>
