var id = <%= @post.id%>;
var count = <%= @post.comments.count%>;
$('#comment_count'+id).html(count);
if($('#load_more'+id).data("loadmore")== "1"){
  $('#load_more'+id).html('<%= j (render 'pages/load_more') %>');
  }else{
  $('#load_more'+id).html('<%= j (render 'pages/comments') %>');
  }
