<div class="col-md-11 no-paddin-xs">
  <div class="row">
    <!--<div class="profile-nav col-md-4">-->
    <!--  <%#= render partial: "/shared/suggested_friends", locals: { users: @toFollow } %>-->
    <!--</div>-->
    <div class="profile-info col-md-12">
      <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
        <li class="active"><a href="#activities" data-toggle="tab">All Posts</a></li>
        <li><a href="#top_posts" data-toggle="tab">Top Posts</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="activities">
          <% @posts.each do |post| %>
          <div class="col-sm-6">
            <div class="post-new col-md-12"  id="post_id_<%= post.id %>">
              <%= render partial: "/pages/post", locals: { post: post } %>
            </div>
          </div>
          <%end%>
        </div>
        <div class="tab-pane fade in" id="top_posts">
          <% @top_posts.each do |post| %>
            <div class="col-sm-6">
              <div class="post-new col-md-12"  id="post_id_<%= post.id %>">
                <%= render partial: "/pages/post", locals: { post: post } %>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-nav" style="position: fixed;right: 0;width: 20%; margin-right: 10px; max-height: 400px; overflow: hidden; overflow-y: scroll;">
  <%= render partial: "/shared/tranding_tags", locals: { hashtags: @hashtags } %>
</div>

<div class="modal fade" id="myModal" role="dialog">
</div>

<script type="text/javascript">
  $(".openmode").click(function(){
    var post_id = $(this).data("post");
    modalContent(post_id);
    $('#myModal').modal('show');
  });
</script>
