<div class="col-md-10 no-paddin-xs">
  <div class="row">
    <div class="profile-nav col-md-12">
    <nav class="nav nav-pills nav-justified">
      <% CIRCLES.each do |circle| %>
        <a class="nav-item nav-link active" href="/home?circle=<%=circle%>"><%= circle %></a>
      <% end %>
    </nav>
      <% for @p in @posts %>
        <div class="post-new col-md-6"  id="post_id_<%= @p.id %>">
          <%= render partial: "/pages/post", locals: { post: @p } %>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="profile-nav" style="position: fixed;right: 0;width: 20%; margin-right: 10px; max-height: 400px; overflow: hidden; overflow-y: scroll;">
  <div class="widget">
    <div class="widget-header">
      <h3 class="widget-caption">Friends activity</h3>
    </div>
    <div class="widget-body bordered-top bordered-red">
      <div class="card">
        <div class="content">
          <ul class="list-unstyled team-members">
            <% @pending_requests.each do |pending_request| %>
              <li>
                <div class="row">
                  <div class="col-xs-3">
                    <div class="avatar">
                      <%= user_link_with_image(pending_request.follower, current_user) %>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <b><%= user_link_with_name(pending_request.follower, current_user) %></b> sent you following request.
                    <br>
                    <span class="timeago"><%= time_ago_in_words(pending_request.created_at_convert_timezone(current_user.timezone)) %></span>
                  </div>
                </div>
                <div class="row">
                  <%= link_to "Reject", reject_relationship_path(pending_request), method: :put, class: "btn btn-default pull-right", style: 'margin-left: 10px;' %>
                  <%= link_to "Accept", accept_relationship_path(pending_request), method: :put, class: "btn btn-success pull-right" %>
                </div>
              </li>
            <% end %>
            <% @activities.each do |activity| %>
              <% if activity.key == "relationship.create" %>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %></b> is now following you.
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "relationship.destroy" %>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %></b> unfollow you.
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "comment.create" %>
                <li class="openmode" id="like <%= activity.trackable.try :post_id %>" data-post="<%= activity.trackable.try :post_id unless current_user.blocked?(activity.owner_id) %>">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %></b> commented on your post
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "comment.update" %>
                <li class="openmode" id="like <%= activity.trackable.try :post_id %>" data-post="<%= activity.trackable.try :post_id unless current_user.blocked?(activity.owner_id) %>">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %></b> updated his comment on your post
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "comment.destroy" %>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %></b> deleted his comment from your post
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "acts_as_votable_vote.create" %>
                <li class="openmode" id="like <%= activity.trackable.try :votable_id %>" data-post="<%= activity.trackable.try :votable_id unless current_user.blocked?(activity.owner_id) %>">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %></b>  like your post.
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "acts_as_votable_vote.destroy" %>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %></b> unlike your post.
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "posts.reported_spam" %>
                <li class="openmode" id="like <%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b><%= user_link_with_name(activity.owner, current_user) %>
                      </b> your post is under review because it flagged.
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "posts.marked_spam" %>
                <li class="openmode" id="like <%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b>
                        <%= user_link_with_name(activity.owner, current_user) %>
                      </b> your post marked spam, It will not show now
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "posts.tagged_user" %>
                <li class="openmode" id="like <%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b>
                        <%= user_link_with_name(activity.owner, current_user) %>
                      </b> tagged you in his post.
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% elsif activity.key == "comments.tagged_user" %>
                <li class="openmode" id="like <%= activity.trackable.try :post_id %>" data-post="<%= activity.trackable.try :post_id unless current_user.blocked?(activity.owner_id) %>">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <%= user_link_with_image(activity.owner, current_user) %>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <b>
                        <%= user_link_with_name(activity.owner, current_user) %>
                      </b> tagged you in his comment.
                      <span class="timeago"><%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %></span>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
</div>

<script type="text/javascript">
  $(".openmode").click(function(){
    var post_id = $(this).data("post");
    if(post_id){
      modalContent(post_id);
      $('#myModal').modal('show');
    }
  });
</script>

