<style type=text/css>
  .container{
    margin-top: 0px !important;
  }
</style>
<div class="login_home">
  <div class="login_left">
    <div class="welcome-message welcome-text-shadow" style="top:0; height:50%;">
        <div class="welcome-title">
          <!--UpLodeit-->
          <img src='../img/goVirol.png' />
        </div>
        <div class="welcome-about">
          IT PAYS TO BE SOCIAL!<br>
        </div>
      </div>
  </div>
  <div class="login_right">
    <div class="login_right_top">
      <form id="login" action="/users/sign_in" accept-charset="UTF-8" method="post" novalidate="novalidate"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="k4jF6JTjmbUaJvveQut8qAoy/8Zayfu1CP+YAR1EVEDRq8sAupMdS6SFqYQbcoHmkL9l3m4FUbUxb7plgzGGXg==">
        <p>
          <input placeholder="Login" type="text" name="user[login]" id="user_login">
        </p>
        <p>
          <input placeholder="Password" type="password" name="user[password]" id="user_password">
          <br />
          <span class="forgot-password-link">
          <a href="/users/password/new">Forgot your password?</a>
        </span>
        </p>
        <input type="submit" name="commit" value="Sign in" class="btn btn-danger sign-in-btn">
      </form>
    </div>
    <div class="login_right_bottom">
      <h3>Create new account</h3>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {id: "signup"}) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="col-md-6 left-half">
            <%= f.text_field :username, placeholder: "Username", onblur: 'giveSuggestions(this)' %>
            <!--<%= f.text_field :username, autofocus:true , placeholder: "Username", onblur: 'giveSuggestions(this)' %>-->
            <span id='suggested_usernames'></span>
          </div>
          <div class="col-md-6 right-half">
            <%= f.text_field :name, placeholder: "Name" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 left-half">
            <%= f.email_field :email ,:placeholder=>"Email" %>
          </div>
          <div class="col-md-6 right-half">
            <%= f.date_field :dob , placeholder: "DOB", class: 'date-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 left-half">
            <%= f.password_field :password ,:placeholder=>"Password"%>
          </div>
          <div class="col-md-6 right-half">
            <%= f.password_field :password_confirmation ,:placeholder=>"Password Confirmation"%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Sign up" ,:class=>"btn btn-danger sign-in-btn"%>
          </div>
          <div class="col-md-12 small">
            By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy.
          </div>
      <% end %>
    </div>
  </div>
</div>
<footer class="welcome-footer">
      <div class="footer-links">
        <a href="#">About </a> |
        <a href="#">Help</a> |
        <a href="#">Blog</a> |
        <a href="#">Status</a> |
        <a href="#">Jobs</a>|
        <a href="#">Terms </a> |
      </div>
        <div class="footer-copy">© 2018 GoVirol</div>
</footer>
<!--<div class="row-welcome" style="background-image: url('img/Post/home-bg.jpg'); margin-left: -7%; width:113%; overflow: hidden;">-->
<!--  <div class="row-body">-->
<!--    <div class="welcome-inner">-->
      <!-- welcome message -->
<!--      <div class="welcome-message welcome-text-shadow">-->
<!--        <div class="welcome-title">-->
<!--          UpLodeit-->
<!--        </div>-->
<!--        <div class="welcome-about">-->
<!--          Where it pays to be Social!<br>-->
<!--        </div>-->
<!--      </div><!-- end welcome message-->
      <!-- register and login form-->
<!--      <div class="welcome-inputs">-->
<!--        <div class="widget panel-inputs panel-home animated fadeInUp">-->
<!--          <div class="widget-header">-->
<!--            <h3 class="widget-caption">-->
<!--              <span class="pull-right">-->
<!--                <a class="btn btn-danger btn-xs btn-panel-home">Register</a>-->
<!--              </span>-->
<!--            </h3>-->
<!--          </div>-->
<!--          <div class="widget-body">-->
<!--            <div class="row">-->
<!--              <%= form_for(:user, :url => session_path(:user), html: {id: "login"}) do |f| %>-->
<!--                <p>-->
<!--                  <%= f.text_field :login, placeholder: "Login"%>-->
<!--                </p>-->
<!--                <p>-->
<!--                  <%= f.password_field :password ,:placeholder=>"Password"%>-->
<!--                </p>-->
<!--                <% f.check_box :remember_me %>-->
<!--                <%f.label :remember_me %>-->
<!--                <%= f.submit 'Sign in' ,:class=>"btn btn-danger" ,:style=>"background:#d9534f;color:white;width:23%;"%>-->
<!--                <span class="forgot-password-link" style="color:blue;">-->
<!--                  <%= link_to "Forgot your password?", new_password_path(:user) ,:style=>"color:blue;"%>-->
<!--                </span>-->
<!--              <% end %>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="widget panel-danger panel-inputs panel-home  hidden">-->
<!--          <div class="widget-header">-->
<!--            <h3 class="widget-caption">-->
<!--              <span class="pull-right">-->
<!--                <a class="btn btn-danger btn-xs btn-panel-home">Login</a>-->
<!--              </span>-->
<!--            </h3>-->
<!--          </div>-->
<!--          <div class="widget-body">-->
<!--            <div class="row">-->
<!--                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {id: "signup"}) do |f| %>-->
<!--                  <%= devise_error_messages! %>-->
<!--                <p>-->
<!--                  <%= f.text_field :username, autofocus:true , placeholder: "Username", onblur: 'giveSuggestions(this)' %>-->
<!--                  <span id='suggested_usernames'></span>-->
<!--                </p>-->
<!--                <p>-->
<!--                  <%= f.text_field :name, placeholder: "Name" %>-->
<!--                </p>-->
<!--                <p>-->
<!--                  <%= f.email_field :email ,:placeholder=>"Email" %>-->
<!--                </p>-->
<!--                <p>-->
<!--                  <%= select_tag 'user[timezone]', options_for_select(ActiveSupport::TimeZone.all.map(&:name)), class: 'form-control' %>-->
<!--                </p>-->
<!--                <p>-->
<!--                  <%= f.date_field :dob , placeholder: "DOB" %>-->
<!--                </p>-->
<!--                <p>-->
<!--                  <%= f.password_field :password ,:placeholder=>"Password"%>-->
<!--                </p>-->
<!--                <p>-->
<!--                  <%= f.password_field :password_confirmation ,:placeholder=>"Password Confirmation"%>-->
<!--                </p>-->
<!--                <%= f.submit "Sign up" ,:class=>"fa fa-user-plus" ,:style=>"background:#d9534f;color:white;width:23%;"%>-->
<!--                <% end %>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div><!-- end register and login form -->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="welcome-full animated fadeInLeft">-->
<!--  <div class="row-body">-->
<!--    <div class="welcome-users-inner">-->
<!--      <% @top_users.each do |user| %>-->
<!--        <div class="welcome-user">-->
<!--          <%= link_to(image_tag(user.avatar_url, class: "img-circle"), "/user/#{user.username}") %>-->
<!--        </div>-->
<!--      <% end %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<footer class="welcome-footer">-->
<!--  <div class="container" style="    max-width: 891px;">-->
<!--    <p>-->
<!--      <div class="footer-links">-->
<!--        <a href="#">About </a> |-->
<!--        <a href="#">Help</a> |-->
<!--        <a href="#">Blog</a> |-->
<!--        <a href="#">Status</a> |-->
<!--        <a href="#">Jobs</a>|-->
<!--        <a href="#">Terms </a> |-->
<!--      </div>-->
<!--        <span style="    margin-left: 45%;">© 2018 Go</span>-->
<!--    </p>-->
<!--  </div>-->
<!--</footer>-->
