<div class="row">
  <div class="col-md-10">
    <!--<div class="profile-header-background" style="padding-top: 54px;">-->
    <!--  <img src="<%= @user.cover %>" alt="Profile Header Background">-->
    <!--</div>-->
    <div class="row">
      <div class="col-md-5">
          <div class="profile-header-background" style="padding-top: 15px;">
            <img src="<%= @user.cover %>" alt="Profile Header Background">
          </div>
          <div class="profile-info-left">
              <div class="text-center profile-info">
                  <% if current_user.badge %>
                    <i class="fa fa-2x fa-certificate" style="position: absolute;left: 58px;top: -4px;color: blue;" title="<%= current_user.badge.name %>"></i>
                  <% end %>
                  <img src="<%= @user.avatar %>" alt="Avatar" class="avatar img-circle" height="180" width="180">
                  <h2><%=@user.username%></h2>
                  <% if(current_user && (current_user.id != @user.id))  %>
                    <div class="but_container">
                      <div class="multi_button">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </div>
                      <% if Relationship.where(followed_id: @user.id, follower_id: current_user.id, status: 'pending').exists? %>
                        <div class="but_follow but_all" data-toggle="tooltip" data-placement="left">
                          <%= link_to reject_relationship_path(Relationship.where(followed_id: @user.id, follower_id: current_user.id, status: 'pending').last), method: :put do %>
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      <% elsif !current_user.following?(@user) %>
                        <div class="but_follow but_all" data-toggle="tooltip" data-placement="left">
                          <%= link_to relationships_path(followed_id: @user.id), method: :post do %>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="but_follow but_all" data-toggle="tooltip" data-placement="left">
                          <% relationship = current_user.active_relationships.find_by(followed_id: @user.id) %>
                          <%= link_to "/relationships/#{relationship.id}", method: :delete do %>
                            <i class="fa fa-minus" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      <% end %>

                      <% if current_user.show_message_box?(@user) %>
                        <div class="but_msg but_all start-conversation" data-toggle="tooltip" data-placement="left" data-sid="<%= current_user.id %>" data-rip="<%=@user.id%>">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                      <% end %>

                      <div class="but_block but_all" data-toggle="tooltip" data-placement="left">
                        <% if @user.blocked_user_ids.include?(current_user.id) %>
                          <%= link_to unblock_user_path(@user), method: :put do %>
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                          <% end %>
                        <% else %>
                          <%= link_to block_user_path(@user), method: :put do %>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
              </div>
              <!--<div class="action-buttons">-->
              <!--    <div class="row">-->
              <!--        <div class="col-xs-6">-->
              <!--          <%= render '/components/follow_button', :user => @user %>-->
              <!--        </div>-->
              <!--        <% if (current_user && (current_user.id != @user.id) && current_user.show_message_box?(@user)) %>-->
              <!--          <div class="col-xs-6">-->
              <!--           <%= link_to "Message", "javascript:void(0)", class: "btn btn-success btn-block  btn start-conversation", "data-sid" => current_user.id, "data-rip" => @user.id %>-->
              <!--          </div>-->
              <!--        <% end %>-->
              <!--    </div>-->
              <!--</div>-->
              <div class="section">
                <h3>About Me</h3>
                <p><%= @user.bio.gsub(/#([A-z]\w+)/, "<a href='/tags/\\1'>#\\1</a>").html_safe if @user.bio %></p>
              </div>
              <div class="section user_stats">
                  <h3>Statistics</h3>
                  <div class="stat_section follower">
                    <i class="fa fa-user"></i>
                    <div>Followers <br /><span class="badge"><%= @user.followers.count %></span></div>
                  </div>
                  <div class="stat_section mentions">
                    <i class="fa fa-at"></i>
                    <div>Mentions <br /><span class="badge"><%= @user.posts.count %></span></div>
                  </div>
                  <div class="stat_section posts">
                    <i class="fa fa-cloud-upload"></i>
                    <div>Posts <br /><span class="badge"><%= @user.posts.count %></span></div>
                  </div>
                  <!--<div class="stat_section points">
                    <i class="fa fa-usd"></i>
                    <div>Points Available <br /><span class="badge"><%= @user.posts.count %></span></div>
                  </div>-->
                  <!--<p><span class="badge"><%= @user.posts.count %></span> Post</p>
                  <p><span class="badge"><%= @user.comments.count %></span> Comments</p>
                  <p><span class="badge"><%= @user.followers.count %></span> Followers</p>
                  <p><span class="badge"><%= @user.following.count %></span> Following</p>-->
              </div>
          </div>
      </div>
      <div class="col-md-7">
        <% if (current_user.try(:id) == @user.id) || (!@user.private) || (current_user && @user.private && current_user.following?(@user)) %>
          <div class="profile-info-right">
            <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom fixed-tab">
              <li class="active"><a href="#activities" data-toggle="tab">ACTIVITIES</a></li>
              <li><a href="#followers" data-toggle="tab">FOLLOWERS</a></li>
              <li><a href="#following" data-toggle="tab">FOLLOWING</a></li>
            </ul>
            <div class="tab-content fixed-tab-content">

              <div class="tab-pane fade in active" id="activities">
                <% for @p in @posts %>
                  <div class="post-new"  id="post_id_<%= @p.id %>">
                    <%= render partial: "/pages/post", locals: { post: @p } %>
                  </div>
                <%end%>
              </div>

              <div class="tab-pane fade" id="followers">
                <% @followers.each do |follower| %>
                  <%= render partial: 'users/user', locals: { user: follower, type: 'followers' } %>
                <% end %>
              </div>

              <div class="tab-pane fade" id="following">
                <% @following.each do |following| %>
                  <%= render partial: 'users/user', locals: { user: following, type: 'following' } %>
                <%end%>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">

</div>

<script type="text/javascript">
  $(".openmode").click(function(){
    var post_id = $(this).data("post");
    modalContent(post_id);
    $('#myModal').modal('show');
  });
</script>
