<div class="col-md-10 no-paddin-xs">
  <div class="row">
    <div class="profile-info activities_page col-md-12">
      <div class="col-sm-12 activity_header">
        <div class="col-sm-3 activity_points">
          <i class="fa fa-usd"></i>
          <div><%= @point_histories.pluck(:points).inject(:+) ? @point_histories.pluck(:points).inject(:+).round(2) : 0.0 %></div>
        </div>
        <div class="col-sm-3 activity_likes">
          <i class="fa fa-heart"></i>
          <div><%= current_user.votes.count %></div>
        </div>
        <div class="col-sm-3 activity_comments">
          <i class="fa fa-comments"></i>
          <div><%= current_user.comments.count %></div>
        </div>
        <div class="col-sm-3 activity_reacts">
          <i class="fa fa-smile-o"></i>
          <div><%= current_user.comment_giphies.count %></div>
        </div>
      </div>
      <div class="col-sm-12">
        <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
          <li class="active"><a href="#activities" data-toggle="tab">ACTIVITIES</a></li>
          <li><a href="#leaderboard" data-toggle="tab">LEADERBOARD</a></li>
          <li><a href="#people" data-toggle="tab">PEOPLE</a></li>
          <li style="display: flex;">
            <a href="#badge" data-toggle="tab">BADGE</a>
            <i class="fa fa-question-circle" data-toggle="modal" data-target="#help"></i>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="activities">
            <div class="panel activities_all">
              <h4 class="text-center">All Activities</h4>
              <div class="chat-message">
                <ul class="chat">
                  <% @activities.each do |activity|%>
                    <% if activity.key == "relationship.create" %>
                      <li class="left clearfix">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> is now following you.
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "relationship.destroy" %>
                      <li class="left clearfix">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> unfollow you.
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "comment.create" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> commented on your post
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "comment.update" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> updated his comment on your post
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "comment.destroy" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> deleted his comment from your post
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "acts_as_votable_vote.create" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> like your post.
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "acts_as_votable_vote.destroy" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> unlike your post.
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "posts.reported_spam" %>
                      <li class="left clearfix" class="openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> your post is under review because it flagged.
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "posts.marked_spam" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> your post marked spam, It will not show now
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "posts.tagged_user" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable_id %>" data-post="<%= activity.trackable_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> tagged you in his post.
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% elsif activity.key == "comments.tagged_user" %>
                      <li class="left clearfix openmode" id="like<%= activity.trackable.try :post_id %>" data-post="<%= activity.trackable.try :post_id unless current_user.blocked?(activity.owner_id) %>">
                        <span class="chat-img pull-left">
                          <%= user_link_with_image(activity.owner, current_user) %>
                        </span>
                        <div class="chat-body clearfix">
                          <div class="header">
                            <strong class="primary-font">
                              <%= user_link_with_name(activity.owner, current_user) %>
                            </strong> tagged you in his comment.
                            <span style="margin-left: 100px;" class="text-muted"></span>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(activity.created_at_convert_timezone(current_user.timezone)) %> </small>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <%end%>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="leaderboard">
            <div class="panel">
              <div class="panel-body p-t-10">
                <div class="panel panel-default">
                  <div class="panel-heading">Leaderboard</div>
                  <table class="table">
                    <tbody>
                      <% @leaderboard.each_with_index do |point, index| %>
                        <tr>
                          <th scope="row"><%= index+1 %></th>
                          <td style='background: #fff;'><%= point.user.name %></td>
                          <td style='background: #fff;'><%= point.total.round(2) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="people">
            <div class="panel_people">
              <div class="people_header">
                <div class="pull-left">Pending Request</div>
              </div>
              <div class="people_inner">
                <div class="row">
                  <% @pending_requests.each do |request| %>
                    <div class="col-sm-3">
                      <%= link_to(image_tag(request.follower.avatar.url), "/user/#{request.follower.username}") %>
                      <p class="people_name"><%= request.follower.name %></p>
                      <p class="people_joined"><%= time_ago_in_words(request.created_at) %></p>
                      <p class="row" style='margin-top: 5px; margin-left: 32%'>
                        <%= link_to "", accept_relationship_path(request), method: :put, class: "fa fa-check fa-lg col-sm-2" %>
                        <%= link_to "", reject_relationship_path(request), method: :put, class: "fa fa-close fa-lg col-sm-2", style: "color: red;" %>
                      </p>
                    </div>
                  <% end %>
                  <% if @pending_requests.size == 0 %>
                    <div class="col-sm-12">
                      No Pending Request
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="badge">
            <div class="panel">
              <div class="panel-body p-t-10">
                <div class="panel panel-default">
                  <div class="panel-heading">My Badges</div>
                  <table class="table">
                    <tbody>
                      <% @my_badges.each_with_index do |badge, index| %>
                        <tr>
                          <th scope="row"><%= index+1 %></th>
                          <td style='background: #fff;'><%= badge.name %></td>
                          <td style='background: #fff;'><%= time_ago_in_words(badge.created_at) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog"></div>

<div id="help" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Badges</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @badges.each_with_index do |badge, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td style="background: #fff;"><%= badge.name %></td>
              <td style="background: #fff;"><%= badge.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".openmode").click(function(){
    var post_id = $(this).data("post");
    modalContent(post_id);
    $('#myModal').modal('show');
  });
</script>