<div class="col-md-10 no-paddin-xs">
  <div class="row">
    <!--<div class="profile-nav col-md-4">-->
    <!--  <%= render partial: "/shared/suggested_friends", locals: { users: @toFollow } %>-->
    <!--  <%= render partial: "/shared/tranding_tags", locals: { hashtags: @hashtags } %>-->
    <!--</div>-->
    <div class="profile-info col-md-12">
      <div class="tab-pane fade in active" id="activities">
        <% if @hashtagged.size == 0 %>
          No Post Found!
        <% end %>
        <% @hashtagged.each do |hashtag| %>
          <div class="post-new col-md-6"  id="post_id_<%= hashtag.id %>">
            <%= render partial: "/pages/post", locals: { post: hashtag } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
</div>

<script type="text/javascript">
  $(".post-image").dblclick(function() {
    var post_id = $(this).data("post");
    modalContent(post_id);
    $('#myModal').modal('show');
  });
  $(".openmode").click(function(){
    var post_id = $(this).data("post");
    modalContent(post_id);
    $('#myModal').modal('show');
  });
</script>
