<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>
<style type="text/css">
  .modal-backdrop {
   background-color: red;
   opacity:.8 !important;
}
.modal-content {
    /* 80% of window height */
    height: 80%;
}
.center {
    padding: 100px 0;
    border: 3px solid green;
    text-align: center;
     vertical-align: middle;
}
.modal-lg {
    width: 1200px;
}
#myModal .col-md-4{
  padding:0;
}
#myModal .col-md-12{
  padding:0;
}
#myModal .col-md-1{
  padding:0;
  margin-top: 8px;
}
#myModal .col-md-11{
  padding:0;
}
#myModal .post .post-heading {
    height: 50px;
    padding: 9px 16px;
}
#myModal .post .post-heading .avatar {
    width: 44px;
    height: 44px;
    display: block;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
}
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow:none;
    border-radius: 0px;
    background-color:#aaa;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 1px 1px 6px #333; 
    background-color:#666;
}
#myModal .post, .panel {
    box-shadow: none;
}
#myModal .panel-white {
     border: 0;
}
#myModal .post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 6px 0;
    margin-left: -32px;
}



.right-navigation {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 47%;
}
.left-navigation {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -47%;
}
</style>


<div class="modal fade" id="myModal" role="dialog">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <div class="modal-dialog modal-lg" style="overflow:hidden;" >
    <div class="col-md-8 center" style="background:rgba(51, 51, 51, 0.75);height:600px;">
      <div class="left-navigation">
        <a href="#" id="carousel-prev" class="prev-btn slider-nav single-arrow left" style="display: block;">
          <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="right-navigation">
        <a href="#" id="carousel-next" class="next-btn slider-nav single-arrow right" style="display: block;">
          <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="post-image">
        <video width="90%" height="70%" controls="" class="image show-in-modal" style="    vertical-align: middle;">
          <source src="https://rave-heroku.s3.amazonaws.com/uploads/post/video/33/SampleVideo_1280x720_1mb.mp4">
        </video>
      </div>
    </div>
    <div class="col-md-4"  style="background:white;height:600px;">
      <div class="col-md-12" style="max-height:450px;overflow-y:scroll;" >
        <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image">
               <img src="https://rave-heroku.s3.amazonaws.com/uploads/user/avatar/9/1320954068556.jpg" class="avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                  <a href="/user/larry" class="post-user-name">larry</a>
                  update a status.
              </div>
              <h6 class="text-muted time">22 Aug 01:50</h6>
            </div>
          </div>               
          <div class="post-description">
            <p>hello world hello world hello world hello world hello world hello world vhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello o worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
            hello world hello world hello world hello world hello world hello world vhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello o worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world</p>
            <div class="stats">
              <a class="like stat-item" id="like33" data-post="33" data-status="dislike"><span style="color:red;" class="fa fa-thumbs-up icon" aria-hidden="true">1</span></a> 
              <a class="stat-item"><i class="fa fa-retweet icon"></i>128</a>
              <a class="stat-item" data-post="33"><i class="fa fa-comments-o icon"></i><span id="comment_count33">4</span></a>
            </div>
          </div>
          <div class="post-footer">
            <div id="load_more33" data-loadmore="0">
              <ul class="comments-list" id="comment_list33">
                  <li class="comment">
                      <a class="pull-left" href="#">
                          <img class="avatar" src="https://rave-heroku.s3.amazonaws.com/uploads/user/avatar/11/DSC_0062.jpg" alt="avatar">
                      </a>
                      <div class="comment-body">
                          <div class="comment-heading">
                              <h4 class="comment-user-name"><a href="/user/pitabas">pitabas</a></h4>
                              <h5 class="time">31 Aug 18:45</h5>
                              <span class="pull-right"><a class="delete_comments" data-post="33" data-comment="184">delete</a></span>
                          </div>
                          <p>bvbnjhhhhhhhhhhh hjbhj yghg yuh yggyu jhuj yughujg gfyujghu hjguhjh chgfguhj cfgh fguhj</p>
                      </div>
                  </li>
                   <li class="comment">
                      <a class="pull-left" href="#">
                          <img class="avatar" src="https://rave-heroku.s3.amazonaws.com/uploads/user/avatar/11/DSC_0062.jpg" alt="avatar">
                      </a>
                      <div class="comment-body">
                          <div class="comment-heading">
                              <h4 class="comment-user-name"><a href="/user/pitabas">pitabas</a></h4>
                              <h5 class="time">31 Aug 18:45</h5>
                              <span class="pull-right"><a class="delete_comments" data-post="33" data-comment="184">delete</a></span>
                          </div>
                          <p>bvbn</p>
                      </div>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-1">
          <img src="https://rave-heroku.s3.amazonaws.com/uploads/user/avatar/9/1320954068556.jpg" class="avatar" alt="user profile image" style="    max-width: 89%;">
        </div>
        <div class="col-md-11">
          <div id="editable33" data-post="33" class="test_comments" contenteditable="true" data-text="Write a comment"></div>
        </div>
        
      </div>
      <div class="col-md-12" style="height:150px;">
        
      </div>
    </div>
  </div>
</div>