<div class="comment" id="giphyid<%= comment_giphy.id %>">
  <div class="col-md-1">
    <a class="pull-left" href="#">
      <%= image_tag(comment_giphy.user.avatar_url, class: 'avatar img-circle') %>
    </a>
  </div>
  <div class="col-md-11 comment-body">
    <div class="comment-heading">
      <h4 class="comment-user-name">
        <% if current_user && current_user.blocked_user_ids.include?(comment_giphy.user_id) %>
          <a href="/user/<%= comment_giphy.user.username %>"><%= comment_giphy.user.username %></a>
        <% else %>
          <a href="javascript:void(0)"><%= comment_giphy.user.username %></a>
        <% end %>
      </h4>
      <h5 class="time"><%= comment_giphy.created_at_convert_timezone(current_user.try(:timezone)).to_formatted_s(:short) %></h5>
      <span class="pull-right" id="giphy_manage_button_id<%= comment_giphy.id %>">
        <% if can?(:destroy, comment_giphy) %>
          <a class="delete_giphy" onclick="deleteGiphy(<%= comment_giphy.id %>, <%= post.id %>)" data-post="<%= post.id %>" data-comment="<%= comment_giphy.id %>"><i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        <% end %>
      </span>
    </div>
    <p id="view_giphy_id<%= comment_giphy.id %>">
      <%= image_tag(comment_giphy.url, style: 'width: 300px;height: 170px;') %>
    </p>
  </div>
</div>