$("#myModal #giphy_list<%= @post.id %>").prepend('<%= j (render 'comment_giphies/comment_giphy', comment_giphy: @comment_giphy, post: @post) %>')
$(".container #giphy_count<%= @post.id %>").html("<%= @post.comment_giphies.count%>");
$("#myModal #giphy_count<%= @post.id %>").html("<%= @post.comment_giphies.count%>");
