<button type="button" class="close modal-mypost-close" data-dismiss="modal">×</button>
<div class="modal-dialog modal-lg modal-mypost" style="overflow:hidden;">
    <input type="hidden" id="current_post_id" value="<%= @post.id %>" />

    <div class="col-md-8 center" style="background:rgba(51, 51, 51, 0.75);">
      <div class="post-image">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <% @post.post_uploads.each_with_index do |post_upload, index| %>
                <div class="item <%= index == 0 ? 'active' : '' %>">
                  <% if post_upload.image? %>
                    <div class="post-image" data-post="<%= @post.id %>">
                      <%= image_tag(post_upload.video_url, width: "90%", height: "70%") %>
                    </div>
                  <% else %>
                    <video width="90%" height="70%" controls="" class="image show-in-modal" style="vertical-align: middle;"><source src="<%= post_upload.video_url %>"></video>
                  <% end %>
                  <div class="carousel-caption">
                  </div>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
      <div class="post post-bottom" style="position: fixed;bottom: 0;background: rgba(255,255,255,0.7);
      opacity: 1;width: 100%;">
        <div class="post-heading" style="width:65%">
          <div class="pull-left image">
            <%= image_tag(@post.user.avatar_url, class: 'avatar img-circle') %>
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a href="/user/<%= @post.user.username %>" class="post-user-name"><%= @post.user.username %></a> update a status.
            </div>
            <h6 style="text-align:left;" class="text-muted time"><%=@post.created_at_convert_timezone(current_user.try(:timezone)).to_formatted_s(:short)%></h6>
          </div>
          <div class="pull-right" id="like_block<%= @post.id %>">
            <%= render partial: 'posts/toggle_vote', locals: { post: @post } %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 post-comment">

      <div class="col-md-12" style="max-height:max-content;">
        <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image">
              <%= image_tag(@post.user.avatar_url, class: 'avatar img-circle') %>
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <a href="/user/<%= @post.user.username %>" class="post-user-name"><%= @post.user.username %></a> update a status.
              </div>
              <h6 class="text-muted time"><%=@post.created_at_convert_timezone(current_user.try(:timezone)).to_formatted_s(:short)%></h6>
            </div>
          </div>
          <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom" style="margin-top:2rem;">
            <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
            <li><a href="#comments" data-toggle="tab" onclick="showEntity('comment', <%= @post.id %>)" data-post="<%= @post.id %>">Comments <span id="comment_count<%= @post.id %>">(<%= @post.comments.count %></span>)</span></a></li>
            <li><a href="#giphys" data-toggle="tab" onclick="showEntity('giphy', <%= @post.id %>)" data-post="<%= @post.id %>">Glimphys <span id="giphy_count<%= @post.id %>">(<%= @post.comment_giphies.count %></span>)</a></li>
          </ul>
          <div class="tab-content" style="height: 400px;">
            <div class="tab-pane fade in active" id="description" style="word-break: break-all;">
              <%= @post.content.gsub(/#([A-z]\w+)/, "<a href='/tags/\\1'>#\\1</a>").html_safe %>
            </div>
            <div id="comments" class="tab-pane fade in" style="height: calc(100vh - 150px); position: relative;">
              <div id="load_more<%= @post.id %>" data-loadmore="0" >
                <div class="col-md-12 comments-list" id="comment_list<%= @post.id %>" style="max-height: 411px;overflow: hidden;overflow-y: auto;">
                  <% @post.comments.order('id desc').each do |comment| %>
                    <%= render partial: 'comments/comment', locals: {post: @post, comment: comment} %>
                  <% end %>
                </ul>
              </div>
              <% if current_user %>
                <div class="col-md-12" id="add_new_comment<%= @post.id %>" style="position:absolute; bottom:0;">
                  <div class="col-md-1">
                    <%= image_tag(current_user.avatar_url, class: "avatar img-circle", style: "max-width: 89%;") %>
                  </div>
                  <div class="col-md-11">
                    <div id="editable<%= @post.id %>" onkeypress="addComment(<%= @post.id %>)" data-post="<%= @post.id %>" data-modalstatus="true" class="test_comments" contenteditable="true" data-text="Write a comment"></div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade in" id="glimphys">
              <% if current_user %>
                <div style='width: 100%; padding-bottom: 5px;'>
                  <input id="search_giphy" style="width: 98%; margin-left: 1%;" class="ui-autocomplete-input" autocomplete="off" style='display: none;'>
                </div>
              <% end %>

              <div id="giphy<%= @post.id %>" style="display: none;" data-loadmore="0">
                <div class="col-md-12 comments-list" id="giphy_list<%= @post.id %>">
                  <% @post.comment_giphies.order('id desc').each do |comment_giphy| %>
                    <%= render partial: 'comment_giphies/comment_giphy', locals: {post: @post, comment_giphy: comment_giphy} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-12" style="height:150px;"></div> -->
    </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $('#myModal').modal('show');
  })

  $(function(){

    $.fn.atwho.debug = true
    var emojis = [
      "smile", "iphone", "girl", "smiley", "heart", "kiss", "copyright", "coffee",
      "a", "ab", "airplane", "alien", "ambulance", "angel", "anger", "angry",
      "arrow_forward", "arrow_left", "arrow_lower_left", "arrow_lower_right",
      "arrow_right", "arrow_up", "arrow_upper_left", "arrow_upper_right",
      "art", "astonished", "atm", "b", "baby", "baby_chick", "baby_symbol",
      "balloon", "bamboo", "bank", "barber", "baseball", "basketball", "bath",
      "bear", "beer", "beers", "beginner", "bell", "bento", "bike", "bikini",
      "bird", "birthday", "black_square", "blue_car", "blue_heart", "blush",
      "boar", "boat", "bomb", "book", "boot", "bouquet", "bow", "bowtie",
      "boy", "bread", "briefcase", "broken_heart", "bug", "bulb",
      "person_with_blond_hair", "phone", "pig", "pill", "pisces", "plus1",
      "point_down", "point_left", "point_right", "point_up", "point_up_2",
      "police_car", "poop", "post_office", "postbox", "pray", "princess",
      "punch", "purple_heart", "question", "rabbit", "racehorse", "radio",
      "up", "us", "v", "vhs", "vibration_mode", "virgo", "vs", "walking",
      "warning", "watermelon", "wave", "wc", "wedding", "whale", "wheelchair",
      "white_square", "wind_chime", "wink", "wink2", "wolf", "woman",
      "womans_hat", "womens", "x", "yellow_heart", "zap", "zzz", "+1",
      "-1"
    ]
    var jeremy = decodeURI("J%C3%A9r%C3%A9my") // Jérémy
    var names = <%= raw User.all.pluck(:username)%>;

    var names = $.map(names,function(value,i) {
      return {'id':i,'name':value};
    });
    var emojis = $.map(emojis, function(value, i) {return {key: value, name:value}});

    var at_config = {
      at: "@",
      data: names,
      headerTpl: '<div class="atwho-header">Member List<small>↑&nbsp;↓&nbsp;</small></div>',
      insertTpl: '<a href="/user/${name}">@${name}</a>',
      displayTpl: "<li>${name}</li>",
      limit: 200
    }

    var emoji_config = {
      at: ":",
      data: emojis,
      displayTpl: "<li onclick>${name} <img src='https://assets-cdn.github.com/images/icons/emoji/${key}.png'  height='20' width='20' /></li>",
      insertTpl: ':${key}:',
      delay: 400,
    }

    emoji_config.insertTpl = "<img src='https://assets-cdn.github.com/images/icons/emoji/${name}.png'  height='20' width='20' />"
    $('#myModal .test_comments').atwho(at_config).atwho(emoji_config);

    $( "#search_giphy" ).autocomplete({
      minLength: 3,
      source: function( request, response ) {
        $.ajax({
          url: "/giphy",
          dataType: "json",
          data: {
            term: $("#search_giphy").val()
          },
          success: function( data ) {
            response( $.map( data, function( result ) {
              return {
                value: result,
                url: result
              }
            }));
          }
        });
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li onclick='postGiphy(\""+item.url+"\")'></li>" )
        .data( "autocomplete", item )
        .append( "<a>" + "<img style='width:100%;height:100px' src='" + item.url + "' /></a>" )
        .appendTo( ul );
    };

  });
</script>