<% if(post.votes_for.pluck(:voter_id).include?(current_user.try(:id))) %>
  <a class="like stat-item" id="like<%= post.id %>" data-post="<%= post.id %>" data-status="like" data-modalstatus="true" onclick="toggleVote(<%= post.id %>)">
    <i class="fa fa-heart" aria-hidden="true" style="color:#f00;"></i><%= post.votes_for.count %>
  </a>
<% else %>
  <a class="like stat-item" id="like<%= post.id %>" data-post="<%= post.id %>" data-status="dislike" data-modalstatus="false" onclick="toggleVote(<%= post.id %>)">
    <i class="fa fa-heart" aria-hidden="true" style="color:#fff;"></i><%= post.votes_for.count %>
  </a>
<% end %>
