<% if activity.trackable %>
  <%if activity.owner_id.present?%>
   <li class="left clearfix">
    <span class="chat-img pull-left">
      <a href="/user/<%=activity.owner.username%>"><img src="<%= activity.owner.avatar_url%>" alt="User Avatar"></a>
    </span>
    <div class="chat-body clearfix">
      <div class="header">
        <strong class="primary-font"><a href="/user/<%=activity.owner.username%>"><%= activity.owner.username%></a></strong> write a comment.
        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>  <%=activity.created_at_convert_timezone(current_user.timezone).to_formatted_s(:short)%></small>
      </div>
      <p>
        <%= raw activity.trackable.content%>
      </p>
    </div>
  </li>
  <% end %>
<%else%>
 <!--  <li class="left clearfix">
    <span class="chat-img pull-left">
      <img src="<%= activity.owner.avatar_url%>" alt="User Avatar">
    </span>
    <div class="chat-body clearfix">
      <div class="header">
        <strong class="primary-font"><a href="/user/<%=activity.owner.username%>"><%= activity.owner.username%></a></strong> write a comment.
        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
      </div>
      <p>
         which has since been removed
      </p>
    </div>
  </li> -->
<%end%>