/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #f5f8fa;
}
.rounded-img {
    border-radius: 5%;
}
.navbar {
    background-color: white;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-right: 25px !important;
    display: block;
}
.form_for {
  border: 1px solid red;
}

.form_for input {
  height: 14px;
  width: 140px;
  background: #F5F5F5;
  border-radius: 2px;
}

@media (min-width:768px) {
  .navbar-search .btn {
    margin:-9px 0 0 0;
  }
}
.post-panel {
    margin-top: -21px;
}
.post-title {
    text-align: left;
    margin-left: 15px;
}
.post-content {
    text-align: left;
    margin-left: 15px;
}
.post-links {
    text-align: left;
}
.post-owner {
    color: black;
    font-weight: bold;
}
.post-creation {
    opacity: 0.7;
}
.g-links {
    opacity: 0.4;
    font-size: 120%;
    margin-right: 75px;
}
.post-form-panel {
    margin-bottom: -21px;
}
.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}
.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}
.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}
.panel-footer {
    background-color: white;
}
.profile-banner {
    width: 100%;
    height: 500px;
    margin-top: -21px;
}


.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 11110 !important;
}

.atwho-view .atwho-header {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-bottom: solid 1px #eaeff1;
    color: #6f8092;
    font-size: 11px;
    font-weight: bold;
}

.atwho-view .atwho-header .small {
    color: #6f8092;
    float: right;
    padding-top: 2px;
    margin-right: -5px;
    font-size: 12px;
    font-weight: normal;
}

.atwho-view .atwho-header:hover {
    cursor: default;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
    max-height: 200px;
    overflow-y: auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}

.inputor {
    height: 80px;
    width: 102%;
    border: 1px solid #dadada;
    border-radius: 0px;
    padding: 5px 8px;
    outline: 0 none;
    margin: -1px 0px 13px -11px;
    background: white;
    font-size: inherit;
    overflow-y: scroll;
}

.test_comments{
    height: 40px;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 5px 8px;
    outline: 0 none;
    margin: 10px 0;
    background: white;
    font-size: inherit;
    overflow-y: hidden;
}

.test_comments:empty:before {
  content:attr(data-text);
  color:gray
}
.test_comments:empty:before {
  content:"Write a comment";
  color:gray
}

.inputor:empty:before{content:"What's in your mind...";color:gray;}
.inputor:empty:before {
  content:attr(data-text);
  color:gray
}





.modal-backdrop {
//   background-color: red;
    background-color: #333;
   opacity:.8 !important;
}
.modal-content {
    /* 80% of window height */
    height: 80%;
}
.center {
    padding: 32px 0;
    /*border: 3px solid green;*/
    text-align: center;
     vertical-align: middle;
}
.modal-lg {
    width: 1200px;
}
#myModal .col-md-4{
  padding:0;
}
#myModal .col-md-12{
  padding:0;
}
#myModal .col-md-1{
  padding:0;
  margin-top: 8px;
}
#myModal .col-md-11{
  padding:0;
}
#myModal .post .post-heading {
    height: 50px;
    padding: 9px 16px;
}
#myModal .post .post-heading .avatar {
    width: 44px;
    height: 44px;
    display: block;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow:none;
    border-radius: 0px;
    background-color:#aaa;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 1px 1px 6px #333;
    background-color:#666;
}
#myModal .post, .panel {
    box-shadow: none;
}
#myModal .panel-white {
     border: 0;
}
#myModal .post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 6px 0;
    margin-left: -32px;
}



.right-navigation {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 47%;
}
.left-navigation {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -47%;
}
#myModal video::-webkit-media-controls-fullscreen-button {
    display: block;
}



.image show-in-modal{

 width:150%;
}

.container video::-webkit-media-controls-fullscreen-button {
    display: none;
}




/**
 * GMAIL Like chat css
 * CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
 *
 */

.chatbox {
    position: fixed;
    position: expression("absolute");
    width: 280px;
    display: none;
}

.chatboxhead {
    background:rgb(255, 118, 108);
    color: white;
    padding: 0.5rem;
    overflow: hidden;

    border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);
}

.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}

.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    font-family: arial, sans-serif;
    height: 280px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background:#f2dede;;
    line-height: 1.3em;
    list-style: none;
}

.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.chatboxcontent .avatar {
    width: 40px;
    position: relative;
}

.chatboxcontent .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
    width: 207px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}

.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;

}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chatboxtitle {
    float: left;
}

form#login, form#signup {
    label.error{
        color: red;
        font-size: smaller;
    }
    p {
        margin: 0 0 7px;
        input {
            margin-bottom: 0;
        }
    }
}

.input-group-addon {
  button {
    padding: 0;
    border: none;
    background-color: #FFF
  }
}

.media-main{
  a{
    img {
      width: 55px;
      height: 55px;
    }
  }
}

.alert{
  position: fixed;
  top: 2%;
  z-index: 1111111111111111111111111;
  left: 40%;
}

.center-image {
  margin-left: 10%;
}

.message-chat-li{
    position: relative;
}

.message-chat-li.right .delete-message {
  position: absolute;
  top: 3px;
  left: -14px;
  z-index: 1;
  display: none;
  font-size: large;
}

.message-chat-li.left .delete-message {
    position: absolute;
    right: -14px;
    z-index: 1;
    top: 5px;
    display: none;
    font-size: large;
}

.inner_image {
    width: 200px !important;
    border-radius: unset !important;
    height: 100px !important;
}
.message-text {
    width: 90%;
    display: inline-block;
}

.send-button-div {
    width: 10%;
    display: inline-block;
}
.send-button {
    height: 44px;
}

.inline-block {
    display: inline-block;
}

.ui-autocomplete {
  z-index:2147483647;
  list-style-type: none;
  width: 200px;
}

.ui-helper-hidden-accessible{
  display: none;
}

#signup {
  margin-top: -16px;
}

textarea {
    resize: none;
}

.conversation-li {
  height: 65px;
}