<div class="row">
  <div class="col-md-10">
    <div class="profile-nav col-md-4" style="margin-top:0px !important;">
      <%= render partial: "/shared/suggested_friends", locals: { users: @toFollow } %>
      <%= render partial: "/shared/tranding_tags", locals: { hashtags: @hashtags } %>
      <%= render '/shared/top_posts' %>
    </div>
    <div class="col-md-8">
      <div class="tab-pane fade in active" id="activities">
        <ul class="nav nav-pills nav-stacked">
          <% @activities.each do |activity| %>
            <% if activity.key == "relationship.create" %>
              <li>
                <a href="/user/<%= activity.owner.username %>" style="display: inline;"><img src="<%= activity.owner.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.owner.username %> is now following you.
              </li>
            <% elsif activity.key == "relationship.destroy" %>
              <li>
                <a href="/user/<%= activity.owner.username %>" style="display: inline;"><img src="<%= activity.owner.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.owner.username %> unfollow you.
              </li>
            <% elsif activity.key == "comment.create" %>
              <li>
                <a href="/user/<%= activity.owner.username %>" style="display: inline;"><img src="<%= activity.owner.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.owner.username %> commented on your post.
              </li>
            <% elsif activity.key == "comment.update" %>
              <li>
                <a href="/user/<%= activity.owner.username %>" style="display: inline;"><img src="<%= activity.owner.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.owner.username %> updated his comment on your post.
              </li>
            <% elsif activity.key == "comment.destroy" %>
              <li>
                <a href="/user/<%= activity.owner.username %>" style="display: inline;"><img src="<%= activity.owner.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.owner.username %> deleted his comment from your post.
              </li>
            <% elsif activity.key == "acts_as_votable_vote.create" %>
              <li>
                <a href="/user/<%= activity.owner.username %>" style="display: inline;"><img src="<%= activity.owner.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.owner.username %> like your post.
              </li>
            <% elsif activity.key == "acts_as_votable_vote.destroy" %>
              <li>
                <a href="/user/<%= activity.owner.username %>" style="display: inline;"><img src="<%= activity.owner.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.owner.username %> unlike your post.
              </li>
            <% elsif activity.key == "posts.reported_spam" %>
              <li>
                <a href="/user/<%= activity.recipient.username %>" style="display: inline;"><img src="<%= activity.recipient.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.recipient.username %> your post is under review because it flagged
              </li>
            <% elsif activity.key == "posts.marked_spam" %>
              <li>
                <a href="/user/<%= activity.recipient.username %>" style="display: inline;"><img src="<%= activity.recipient.avatar_url %>" class="avatar img-circle" height="55" width="55"></a>
                <%= activity.recipient.username %> your post marked spam, It will not show now
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


