<style type="text/css">
  .inputor:empty:before{content:"What's on your mind...";}
  .inputor{
    height: 100px;
    overflow: hidden;
    resize: none !important;
  }
</style>
<sidebar>
  <ul class="sidebar-nav">
        <li><%= link_to(image_tag(current_user.avatar_url, class: "thumb-lg img-circle bx-s"), "/user/#{current_user.username}") %></li>
        <li><a href="/home"><i class="fa fa-home"></i></a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#add_post"><i class="fa fa-upload" aria-hidden="true"></i></a></li>
        <li><a href="/users/edit"><i class="fa fa-cog"></i></a></li>
        <li><a href="/social_net_worth"><i class="fa fa-notice"></i>$<%= @point_histories.pluck(:points).inject(:+) ? @point_histories.pluck(:points).inject(:+).round(2) : 0.0 %></a></li>
        <li>
          <span id='message_count' style="position: absolute; right: 10px;"></span>
          <a href="/users/<%= current_user.id%>/messages"><i class="fa fa-envelope"></i></a>
        </li>
        <li><a href="/explore"><i class="fa fa-globe"></i></a></li>
      </ul>
</sidebar>
<nav class="navbar navbar-default navbar-fixed-top navbar-principal">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand pull-left" style="left: 1%; width:130px; top: -5px;" href="/home">-->
      <!--  <b>UpLode</b>-->
      <!--</a>-->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <a class="navbar-brand nav-logo pull-left" href="/home">
        <!--<img src='../img/goVirol.png' />-->
      </a>
    <ul class="nav navbar-nav navbar-right">
       <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
    </ul>
    <div class="col-md-5 col-sm-4 pull-right">
      <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
            <span class="input-group-addon" style="width:1%;">
              <%= button_tag(type: "submit", name: "commit") do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</nav>

<div id="add_post" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
        <h4 class="modal-title" id="myModalLabel">Post a Video/Photo</h4>
      </div>
      <div class="modal-body">
        <div class="panel">
          <%= form_for(Post.new, html: { multipart: true }) do |f| %>
            <%= f.hidden_field :content, autofocus: true, class: "form-control" %>
            <div id="editable" placeholder="Whats in your mind today?" class="form-control input-lg p-text-area inputor" contenteditable="true" autofocus="autofocus"></div>
            <div class="panel-footer">
              <div class="pull-right">
                <span>
                  Add Tagline: <%= check_box_tag("add_tagline") %>
                </span>
                <%= f.submit "Post", class: "btn btn-danger",:id=>"qwerty" %>
              </div>
              <%= select_tag "circle", options_for_select(CIRCLES), class: "form-control" %>
              <label>
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span style="display:none;">
                  <%= file_field_tag 'videos[]', id: 'post_video', multiple: true %>
                </span>
                <span id='file_name'></span>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
   $(function(){

    var LEVELS = {
      "Beginner Level": { photo: { min: 0, max: 3 }, video: 2 },
      "Go Getter Level": { photo: { min: 4, max: 8 }, video: 4 },
      "Boss Level": { photo: { min: 9, max: 12 }, video: 6 },
      "Star Level": { photo: { min: 13, max: 15 }, video: 8 },
      "Legend Level": { photo: { min: 16, max: 30 }, video: 10 }
    }

    $("#post_video").change(function(event) {
      var name = "";
      var badge_name = $('#badge_name').val();
      var files = event.target.files;
      var files_size = 0
      $.each(files, function(index, file) {
        files_size += file.size;
      })
      var in_mb = files_size/1024/1024;
      if(badge_name.length == 0){
        if (files.length == 1 && in_mb <= 1) {
          if (files && files.length > 0){
            name = files[0].name;
          }
          $('#file_name').html(name);
        } else {
          $("#post_video").val('');
          alert("You can upload only 1 file")
        }
      } else {
        if (files.length <= LEVELS[badge_name]["photo"]["max"] && in_mb <= LEVELS[badge_name]["video"]){
          if (files && files.length > 0){
            name = files[0].name;
          }
          $('#file_name').html(name);
        } else {
          $("#post_video").val('');
          alert("You can upload min "+ LEVELS[badge_name]["photo"]["min"] +" and max " + LEVELS[badge_name]["photo"]["max"] + " files");
        }
      }
    });

    $.fn.atwho.debug = true
    $(".inputor").html(" ");
    $(".inputor").html("");
    var emojis = [
      "smile", "iphone", "girl", "smiley", "heart", "kiss", "copyright", "coffee",
      "a", "ab", "airplane", "alien", "ambulance", "angel", "anger", "angry",
      "arrow_forward", "arrow_left", "arrow_lower_left", "arrow_lower_right",
      "arrow_right", "arrow_up", "arrow_upper_left", "arrow_upper_right",
      "art", "astonished", "atm", "b", "baby", "baby_chick", "baby_symbol",
      "balloon", "bamboo", "bank", "barber", "baseball", "basketball", "bath",
      "bear", "beer", "beers", "beginner", "bell", "bento", "bike", "bikini",
      "bird", "birthday", "black_square", "blue_car", "blue_heart", "blush",
      "boar", "boat", "bomb", "book", "boot", "bouquet", "bow", "bowtie",
      "boy", "bread", "briefcase", "broken_heart", "bug", "bulb",
      "person_with_blond_hair", "phone", "pig", "pill", "pisces", "plus1",
      "point_down", "point_left", "point_right", "point_up", "point_up_2",
      "police_car", "poop", "post_office", "postbox", "pray", "princess",
      "punch", "purple_heart", "question", "rabbit", "racehorse", "radio",
      "up", "us", "v", "vhs", "vibration_mode", "virgo", "vs", "walking",
      "warning", "watermelon", "wave", "wc", "wedding", "whale", "wheelchair",
      "white_square", "wind_chime", "wink", "wink2", "wolf", "woman",
      "womans_hat", "womens", "x", "yellow_heart", "zap", "zzz", "+1",
      "-1"
    ]
    var jeremy = decodeURI("J%C3%A9r%C3%A9my") // Jérémy
    var names = <%= raw User.all.pluck(:username)%>;

    var names = $.map(names,function(value,i) {
      return {'id':i,'name':value};
    });
    var emojis = $.map(emojis, function(value, i) {return {key: value, name:value}});

    var at_config = {
      at: "@",
      data: names,
      headerTpl: '<div class="atwho-header">Member List<small>↑&nbsp;↓&nbsp;</small></div>',
      insertTpl: '<a href="/user/${name}">@${name}</a>',
      displayTpl: "<li>${name}</li>",
      limit: 200
    }
    var emoji_config = {
      at: ":",
      data: emojis,
      displayTpl: "<li onclick>${name} <img src='https://assets-cdn.github.com/images/icons/emoji/${key}.png'  height='20' width='20' /></li>",
      insertTpl: ':${key}:',
      delay: 400,
    }

    // $inputor = $('#editable').atwho(at_config).atwho(emoji_config);
    // $inputor.caret('pos', 47);
    // $inputor.focus().atwho('run');

    emoji_config.insertTpl = "<img src='https://assets-cdn.github.com/images/icons/emoji/${name}.png'  height='20' width='20' />"
    $('#editable').atwho(at_config).atwho(emoji_config).trigger("keypress");

    $('#editable').trigger("keypress");
  });

$( "#editable" ).keypress(function() {
  $("#post_content").val($("#editable").html());
  $("#post_content").val($("#editable").html());
  console.log($("#editable").html());
});
$("#qwerty").click(function() {
  $("#post_content").val($("#editable").html());
});
$("#editable").bind('DOMNodeInserted DOMNodeRemoved', function() {
  $( "#editable" ).trigger("keypress");
});

</script>