<!DOCTYPE html>
<html>
<head>
  <title>GoVirol</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <script src="/assets/stylesheets/chat.css"></script>
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/timeline.css" rel="stylesheet">
    <link href="/assets/css/cover_profile.css" rel="stylesheet">
    <link href="/assets/css/profile_wall.css" rel="stylesheet">
    <link href="/assets/css/modal_dialog.css" rel="stylesheet">
    <script src="/assets/js/custom.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body style="min-height: auto;">
<%= render partial: "shared/flash_messages", flash: flash %>
<%= render '/layouts/nav' %>

<%= hidden_field_tag('badge_name', current_user.badge.try(:name)) if current_user %>

<div class="container" style="margin-top:50px;">
  <%= yield %>
</div>

<style type="text/css">
  .chat-sidebar {
    position: fixed;
    right: -0;
    bottom: 0;
    padding-top: 35px;
    padding-bottom: 15px;
    height: 300px;
    width: 210px;
    text-align: right;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 0px 3px 0px rgba(160, 160, 160, 0.30);
    z-index: 0;
    overflow-y: scroll;
    overflow: hidden;
    top: inherit;
}
</style>

<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>
</html>
